{% extends "loggedout_base.html" %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
{% include "hide_login.js" %}
<p>Your password has been set.  You may go ahead and log in now.</p>
<p><a href="{% url home %}">Log in</a></p>
{% endblock %}