{% extends "loggedout_base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
{% include "hide_login.js" %}
<p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
<p>You should be receiving it shortly.</p>
{% endblock %}