{% extends "loggedout_base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
{% include "hide_login.js" %}
<p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>

<form action="" method="post">
 {{ form.email.errors }}
 {% csrf_token %}
<p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset my password" /></p>
</form>
{% endblock %}