{% extends "registration/registration_bubble_base.html" %}

{% block content %}
	<form class="register_bubble" id="register_form" action="." method="post">
		<h2 class="orange uppercase_and_bold">Register for Gateswap</h2>
		{% csrf_token %}
		{{ reg_form.as_p }}
		<a href="javascript:document.getElementById('register_form').submit()"><div class="createlisting_submit">
				<div class="createlisting_submit_main">Submit Registration</div>
				<div class="createlisting_submit_arrow">&#9654;</div>
		</div></a>
	</form>
{% endblock %}