<html>
	<head>
		<title>
			Gateswap - {% block title %}Registration {% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins.css" />
		<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.8.0.min.js"></script>	
		<script type="text/javascript" src="{{ STATIC_URL }}scripts.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}plugins.js"></script>
		<script>
			/*$(function() {
				var schools = [
				{% for school in schools %}
					{ label: "{{ school.name }}", id: "{{ school.id }}" },
				{% endfor %}									
				];
				$( "#id_school" ).autocomplete({
					source: schools,					
					select: function(event, ui) { 
						$("#id_school_id").val(ui.item.id);
					}
				});
			});*/
			$(document).ready(function() {
				$("#id_you_are").change(function() {
					if ($("#id_you_are").val() == 0)
						$("#id_year_of_graduation").parent().slideDown();
					else
						$("#id_year_of_graduation").parent().slideUp();
				});
			});
		</script>	
	</head>
	<body style="padding:5px">
	{% block content %}{% endblock %}
	</body>
</html>