<!doctype html>

<html>
	<head>
		<title>
			Gateswap - Register ({{ school.name }})		
		</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins.css" />
		<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.8.0.min.js"></script>	
		<script type="text/javascript" src="{{ STATIC_URL }}scripts.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}plugins.js"></script>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-27821773-1']);
		  _gaq.push(['_setDomainName', 'gateswap.com']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<script>
			$(function() {
				var schools = [
				{% for school in schools %}
					{ label: "{{ school.name }}", id: "{{ school.id }}" },
				{% endfor %}									
				];
				$( "#id_school" ).autocomplete({
					source: schools,					
					select: function(event, ui) { 
						$("#id_school_id").val(ui.item.id);
					}
				});
			});
			
			$(document).ready(function() {
				$("#id_you_are").change(function() {
					if ($("#id_you_are").val() == 0)
						$("#id_year_of_graduation").parent().slideDown();
					else
						$("#id_year_of_graduation").parent().slideUp();
				});
			});
		</script>				
	</head>
	<body>
		<div id="header" class='home'>
			<div class="caption">Avicii at Colgate's Spring Party Weekend 2012</div>
			<div id="top_bar">
				{% include "loginform.html" %}
			</div>
			<a href="/"><div id="title">
				<h1>Gate</h1>
				<h2>Swap</h2>
				<div class="subtitle">	
					Live sustainably. Swap socially.
				</div>
			</div></a>
		</div>
		<div id="main">
			<div id="main_wrapper">
					<div class="content_14 left">
						<div class="register_school_intro">
							<h2>So, you go to <span class="register_school_title">{{ school.name }}</span>? Awesome!</h2>
							<p>Hey, you’ve found GateSwap at {{ school.name }}. That’s awesome, we hear it’s a great school.</p> 
							<p>For your own safety and out of respect for the community at large, GateSwap wants to make sure that the only people on your school’s page are actual members of the student body, faculty, or staff. If that description applies to you, then register now with your school email address and get started today.</p>
							<h3>A taste of what's inside ...</h3>
								<img src="{{ STATIC_URL }}images/featured_01.jpg" />
								<img src="{{ STATIC_URL }}images/featured_02.jpg" />
								<img src="{{ STATIC_URL }}images/featured_03.jpg" />
						</div>
					</div>
					<div class="content_10 right">
						<div class="register_school top_rounded_box">
							<h2>Register Here</h2>
							<form action="." method="post">
								{% csrf_token %}
								{{ reg_form.as_p }}
								<input type="submit" value="Sign me up" />
							</form>
						</div>
					</div>
					</div>
		</div>
		{% include "footer.html" %}
	</body>
</html>