{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block extrahead %}
<!-- Make some nice visualizations of statistics data -->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawVisualization);
    
    function drawVisualization() {
        // Create and populate the data table.
        var data = google.visualization.arrayToDataTable([
            ['School', 'Number of registered users'],
            {% for name, total in stats_dict.user.total_by_school.items %}
            ['{{ name }}', {{ total }}]{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]);

          // Create and draw the visualization.
        new google.visualization.PieChart(document.getElementById('user_chart')).
            draw(data, {chartArea:{width:"85%",height:"85%"}, legend:{position:'none'}});

        // Create and populate the data table.
        var data = google.visualization.arrayToDataTable([
            ['School', 'Number of registered users'],
            {% for key, value in stats_dict.listings.total_by_type.items %}
            ['{{ key }}', {{ value }}]{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]);

          // Create and draw the visualization.
        new google.visualization.PieChart(document.getElementById('listing_chart')).
            draw(data, {chartArea:{width:"85%",height:"85%"}, legend:{position:'none'}});
    }
</script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="module">
        <table summary="{% blocktrans with name=app.name %}Models available in the {{ name }} application.{% endblocktrans %}">
        <caption><a href="{{ app.app_url }}" class="section">{% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}</a></caption>
        {% for model in app.models %}
            <tr>
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module">
        <h2>{% trans 'Summary of Statistics' %}</h2>
        <h3>{% trans 'User Statistics' %}</h3>
        <ul class="actionlist">
            <li>Total Users: {{ stats_dict.user.total }}</li>
            <li>Users by school:</li>
            <ul class="actionlist">
                {% for name, total in stats_dict.user.total_by_school.items %}
                <!-- The "{ widthratio a b c } template tag performs (a/b)*c, so it's perfect for percentages -->
                <li>{{ name }}: {{ total }} ({% if stats_dict.user.total == 0 %}0{% else %}{% widthratio total stats_dict.user.total 100 %}{% endif %}%)
                {% endfor %}
            </ul>
        </ul>
        <div id="user_chart" style="height:150px;width:214px;"></div>
        <h3>{% trans 'Listing Statistics' %}</h3>
        <ul class="actionlist">
            <li>Total Listings: {{ stats_dict.listings.total }}</li>
            <li>Completed Listings: {{ stats_dict.listings.total_completed }}</li>
            <li>Active Listings: {{ stats_dict.listings.total|add:stats_dict.listings.total_completed }}</li>
            <li>Listings by Category:</li>
            <ul>
                {% for key, value in stats_dict.listings.total_by_type.items %}
                <li>{{ key }}: {{ value }} ({% if stats_dict.listings.total == 0 %}0{% else %}{% widthratio value stats_dict.listings.total 100 %}{% endif %}%)</li>
                {% endfor %}
            </ul>
        </ul>
        <div id="listing_chart" style="height:150px;width:214px;"></div>
        <h3>{% trans 'Response Statistics' %}</h3>
        <ul class="actionlist">
            <li>Total Comments: {{ stats_dict.responses.comment_total }}</li>
            <ul><li>Comments Per Listing: {{ stats_dict.responses.comment_per_listing }}</li></ul>
            <li>Total Bids: {{ stats_dict.responses.bid_total }}</li>
            <ul><li>Bids Per Item: {{ stats_dict.responses.bid_per_item }}</li></ul>
        </ul>
    </div>
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
