@import url("http://fonts.googleapis.com/css?family=Maven+Pro:900");
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url("http://fonts.googleapis.com/css?family=Stoke");


// COLORS

@background: #EFEFEF;
@default_color: #6F6F6F;
@blue: #2AC1DC;
@kinda_darker_blue: darken(@blue, 5%);
@darker_blue: darken(@blue, 20%);
@orange: #E16843;
@darker_orange: darken(@orange, 10%);
@green: #62DF2D;
@lightest_gray: #EEE;
@lighter_gray: #DDD;
@light_gray: #A8A8A8;
@dark_gray: #3E3E3E;
@background_gray: #F1F1F1;

// SIZES

@page_width: 960px;
@header_height: 354px;

// BASE STYLES

@default_font: "Lato", Tahoma, Arial, sans-serif;

.transitions (@time: 0.25s) {
	transition: all @time;
    -moz-transition: all @time;
	-webkit-transition: all @time;
	-o-transition: all @time;	
}

.rounded_corners (@radius: 15px) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}

.uppercase_and_bold {
	text-transform: uppercase;
	font-weight: bold;
}

.orange {
	color: @orange !important;
}

.green {
	color: @green !important;
}

.blue {
	color: @blue !important;
}

.left {
	float: left;
}

.right {
	float: right;
}

.inline {
	display: inline-block;
}

/* ---------------------------------------------- PAGE STYLES */

body {
    padding: 0;
    margin: 0;
    font-family: @default_font;
    font-size: 14px;
    background: @background;
}

div {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: @default_color;
	&:hover {
		text-decoration: underline;
	}
}

:hover {
	.transitions;
}

input, textarea {
	box-sizing: border-box;
	border: 0;
	padding: 5px;
	font-family: @default_font;
	color: @light_gray;
	font-size: 10px;
	&:focus {
		outline: 0;
	}	
	&[type="submit"] {
		.uppercase_and_bold;
		&:hover {
			cursor: pointer;
		}
	}	
}

::selection {
	background: @dark_gray;
	color: #FFF;
}

.clearfix {
	clear: both;
}

h2 {
	font-family: "Maven Pro";
	font-weight: 900;
}

/* ---------------------------------------------- HEADER */

#header {
	width: @page_width;
	height: @header_height;
	background-image: url("images/bg_colgate.png");
	margin: 0px auto;
	padding: 0px 20px;
	position: relative;
	.caption {
		position: absolute;
		top: @header_height - 40px;
		background: rgba(255, 255, 255, 0.4);
		color: #000;
		padding: 3px;
		font-size: 9px;
	}
}

.home {
	background-image: url("images/bg_homepage.jpg") !important;
}

/* ----------------------------------------------- NAVIGATION */

#navigation {
	position: absolute;
	top: 0px;
	left: 0px;
}

.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: rgba(0, 0, 0, 0.4);
	width: @page_width;
}

.menu_item {
	display: inline-block;
	padding: 10px 20px;
    &:hover { 
		cursor: default; 
	}
    .heading {
        color: #FFF;
    	.uppercase_and_bold;
    	font-size: 18px;
        &:hover { 
			color: @green; 
		}        
    }
}
.menu_arrow {
	opacity: 0;
	color: @blue;
	padding-left: 10px;
	font-weight: bold;
	font-size: 24px;	
	line-height: 12px;
}

.submenu {
	display: none;
	list-style-type: none;
	position: absolute;
	top: 42px;
	padding: 10px;
	margin-left: -10px;
	background: rgba(0, 0, 0, 0.7);
	width: 260px;
	z-index: 10;
}

.submenu_item {
	padding: 5px;
    a {
    	color: @blue;
    	.uppercase_and_bold;
    	font-size: 16px;
        &:hover { 
			color: #FFF; 
			text-decoration: none;
		}        
    }
}

/* ----------------------------------------------- TITLE */

#title {
	position: absolute;
	top: 50px;
	h1 {
		font-family: "Maven Pro";
		margin: 0;
		color: #DEDFE1;
		position: absolute;
		top: 0px;
		left: 20px;
		.uppercase_and_bold;
		font-size: 148px;
		text-shadow: 0px 0px 40px #000;
		z-index: 5;	
		letter-spacing: -8px;
		font-weight: 900;
	}
	h2 {
		font-family: "Maven Pro";
		margin: 0;
		color: #FFF;
		position: absolute;
		top: 90px;
		left: 96px;
		.uppercase_and_bold;
		font-size: 124px;
		text-shadow: 0px 0px 40px #000;
		z-index: 4;
		letter-spacing: -8px;
		font-weight: 900;
	}
	.subtitle {
		font-family: "Lato";
		position: absolute;
		top: 200px;
		left: 0px;
		background: #000;
		width: 500px;
		padding: 24px 8px 8px;
		text-align: right;
		color: @blue;
		font-size: 28px;
		line-height: 22px;
		z-index: 3;	
		font-weight: 100;
	}
}

/* ----------------------------------------------- TOP BAR */

#top_bar {
	position: absolute;
	right: 0px;
	min-width: 200px;
	padding: 10px 10px 10px 15px;
	background: #000;
	color: @blue;
    -webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-left-radius: 15px;
	
	.welcome {
		p {
			font-weight: bold;
			color: @blue;
			.inline;
			margin: 0px;
		}
		.notifications {
			.green_circle;
		}
		a {
			.blue;
			font-weight: bold;
		}
		.logout {
			display: block;
			color: @blue;
			.uppercase_and_bold;
		}
	}	
	
	.login {
		.form {
			input[type="text"], input[type="password"] {
				display: inline-block;
				width: 100px;
				margin-right: 4px;
			}
			input[type="submit"] {
				background: @blue;
				color: #FFF;
			}
			overflow: auto;
		}		
		.forgot {
			.left;
			display: inline-block;
			margin-top: 4px;
			a {
				font-size: 12px;
			}
		}
		.remember {
			.right;
			display: inline-block;
			margin-top: 4px;			
			label {
				font-size: 12px;
			}
		}
		.register {
			margin-top: 16px;
			color: @default_color;
			a {
				.green;
				.uppercase_and_bold;
			}
		}
	}	
}



/* ----------------------------------------------- HEADER BOX */

#header_box {
    position: relative;
    top: 130px;
    left: 590px;
    width: 320px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
    h2 { .uppercase_and_bold; }
    h3 {
        color: @blue;
        font-weight: bold;
    }	
    p, h2, h3 { margin: 0px 0px 8px 0px; }	
}

.welcome_box {
	.find {
		input[type="text"] {
			width: 275px;
			margin-bottom: 10px;
		}
	}
	.vote {
		h3 {
			padding-top: 8px;
		}
		input[type="text"] {
			width: 210px;
		}
		input[type="submit"] {
			width: 65px;
			background: @light_gray;
			color: #FFF;
			border-bottom: 0px solid @light_gray;
		}
	}
}

.calendar_box {
	input {
		width: 100%;
		margin-bottom: 10px;
	}
	#calendar {
		height: 100px;
		a {
			.blue;
			font-weight: bold;
		}
		p {
			margin-top: 0;
		}
		.details {
			.small_text;
			color: #FFF;
		}
	}
}

/* ----------------------------------------------- MAIN */

#main {
	background: #D1D0D0 url("images/stripes.png");
}

#main_wrapper {
	width: @page_width;
	overflow: auto;
	margin: 0px auto;
	padding: 0px 20px 60px 20px;
	background: #FFF;
	color: @default_color;
	p {
		font-size: 11px;
	}
	h2 {
		color: @blue;
		.uppercase_and_bold;
		font-size: 20px;
		font-weight: 900;
	}
	h3 {
		.uppercase_and_bold;
		color: @dark_gray;
	}	
}

/* ----------------------------------------------- WIREFRAME */

.gutter {	padding: 0px 10px;	}
.content_4 {	width: 150px;	.gutter;	}
.content_6 {	width: 225px;	.gutter;	}
.content_8 {	width: 300px;	.gutter;	}
.content_9 {	width: 338px;	.gutter;	}
.content_10 {	width: 375px;	.gutter;	}
.content_12 {	width: 450px;	.gutter;	}
.content_14 {	width: 525px;	.gutter;	}
.content_15 {	width: 562px;	.gutter;	}
.content_16 {	width: 600px;	.gutter;	}
.content_18 {	width: 675px;	.gutter;	}
.content_24 {	width: 920px;	.gutter;	}

/* ----------------------------------------------- FOOTER */

#footer {
	font-size: 12px;
	margin: 0;
	background: #000;
	padding: 30px 0px 60px;
	a {
		.blue;
	}
}

#footer_wrapper {
	.blue;
	.uppercase_and_bold;
	overflow: auto;
	width: @page_width + 150px;
	margin: 0px auto;
	.right {
		a {
			display: inline-block;
			padding: 0px 10px;
			border-right: 1px solid @blue;
			&:last-child {
				border-right: 0;
			}
		}
	}
}

/* ----------------------------------------------- LITTLE ELEMENTS */

.rounded_box {
	background: @background_gray;
	.rounded_corners;
	margin: 20px 0px;
	padding: 0px 20px;
	overflow: auto;
}

.top_rounded_box {
	padding: 0px 20px 20px 20px;
    background: @background_gray;
	overflow: auto;
	-webkit-border-bottom-right-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

.green_circle {
	.rounded_corners(12px);
	background: @green;
	color: #FFF;
	display: inline-block;
	margin: 0px 0px 0px 10px;
	font-size: 14px;
	height: 24px;
	width: 24px;
	text-align: center;
	line-height: 24px;
	text-shadow: #555 0px 0px 8px;
}

.video {
    float: left;
    padding: 0px 20px 10px 0px;
}

.small_text {
    color: #8E8F8F;
    text-transform: uppercase;
    font-size: 10px;  
    overflow: auto;
}

.small_italics {
    color: #8E8F8F;
	font-size: 10px;
	font-style: italic;
}

.listing_image {
	padding: 8px;
	box-shadow: 0px 0px 10px @light_gray;
	.rounded_corners(5px);
	background: #FFF;
}

.individual_listing {
	.rounded_corners;
	background: @background_gray;
	border: 1px solid darken(@background_gray, 5%);
	box-shadow: #CCC 0px 0px 7px;
	margin:	20px 0px;
	overflow: auto;
}

.no_transitions {
    transition: none;
    -moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;	
}

.pagination {
	width: 100%;
	overflow: auto;
	text-align: center;
	padding-top: 40px;
	a {
		&:hover { text-decoration: none; }
	}
	.arrow {
		.inline;	
		margin: 0px 5px 0px 5px;
		font-size: 20px;
		.blue;
	}
	.prev {
		padding-right: 10px;
	}
	.next {
		padding-left: 10px;
	}
	.page {
		font-size: 14px;
		.inline;
		border: 1px solid #EEE;
		color: #EEE;
		width: 20px;
		height: 20px;
		line-height: 20px;
		margin: 0px 3px;
		background: #FFF;
		&:hover {
			.active;
			.no_transitions;
		}
	}
	.active {
		color: @blue !important;
		border: 1px solid @blue !important;
	}			
}

.blue_submit {
	background: @blue;
	color: #FFF;
	border: 1px solid @darker_blue;
}

/* ----------------------------------------------- BIG ELEMENTS */

.single_listing_top {
	padding: 20px 0px;
	font-size: 11px;
	h2 {
		margin: 5px 0px 0px 0px;
	}
	h4 {
		.inline;
		margin: 0;
		font-size: 14px;
	}
	.title {
		.inline;
	}
	.icon {
		.inline;
		float: right;
	}
	.main {
		.clearfix;
		margin-top: 10px;
		img {
			.listing_image;
			width: 520px;
			margin: 20px 0px;
		}
	}
	.left {
		width: 300px;
	}
	.right {
		width: 200px;
	}
	.category, .date, .about {
		margin-bottom: 10px;
	}	
	.price {
		strong {
			.inline;
			font-weight: bold;
			font-size: 18px;
			margin: 0px 0px 10px 10px;
		}
		.your_bid {
			.inline;
			float: right;
			input[type="text"] {
				background: @background_gray;
				.rounded_corners(10px);	
				border: 1px solid darken(@background_gray, 5%);
				margin-bottom: 10px;
				&:focus {
					background: #FFF;
				}
			}
			input[type="submit"] {
				.blue_submit;
			}
		}
		margin-bottom: 10px;
	}
}

.also_of_interest {
	.rounded_box;
	.item {
		h4 {
			margin: 0px 0px 5px;
			font-size: 14px;
		}
		overflow: auto;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 2px solid #FFF;
		&:last-child {
			border-bottom: 0;
		}
		.details {
			.h4 {
				.inline;
				.left;
			}
			.inline;
			.left;
		}
		.comments_and_price {
			.right;
			text-align: right;
			.comments a {
				.orange;
				font-weight: bold;
			}
			.price {
				.blue;
				font-size: 16px;
				font-weight: bold;
			}
		}
	}
}

.services_comments {
	padding: 30px 0px;
	font-size: 11px;	
	h2 {
		.inline;
		margin: 0;
		line-height: 5px;
	}
	.comment_count {
		.green_circle;
		.inline;
		.right;
		margin-bottom: 5px;
	}
	.comment {
		.clearfix;
		padding: 10px 0px;
		h4 {
			font-size: 14px;
			.inline;
			margin: 0;
			padding: 0;
		}
		border-bottom: 1px solid @lighter_gray;
		.details {
			.small_text;
			margin-top: 10px;
		}
	}
}

.services_add_comment {
	.rounded_box;
	textarea {
		font-family: Arial, sans-serif;
		border-bottom: 2px solid @light_gray;
		min-width: 300px;		
		max-width: 300px;
		height: 100px;
	}
	input[type="submit"] {
		display: block;
		width: 70px;
		margin: 10px 0px 20px 230px;
		background: @blue;
		border: 1px solid @darker_blue;		
		color: #FFF;
	}
}

.sidebar_comments {
	.rounded_box;
	.services_comments;
	padding: 20px 20px;
	.comment {
		&:last-child {
			border-bottom: 0;
		}
		.admin_options {
			.delete, .reply {
				.inline;
				background: @blue;
				color: #FFF;
				border: 1px solid @darker_blue;
				margin: 10px 10px 0px 0px;
				padding: 2px 6px;
				font-weight: bold;
			}
		}
	}
}

.sidebar_add_comment {
	.services_add_comment;
	textarea {
		min-width: 100% !important;
		max-width: 100% !important;
		height: 100px !important;
	}
	input[type="submit"] {
		margin: 10px 0px 20px 208px !important;
	}
}

.object_categories {
	.rounded_box;
	a {
		display: block;
		margin: 5px 0px;
		font-size: 14px;
		font-weight: bold;
		&:last-child {
			margin-bottom: 15px;
		}
	}
}

.object_heading {
	font-size: 12px;
	font-weight: bold;
	.title_desc {
		.inline;
		margin-left: 54px;
		width: 210px;
	}
	.category_contact {
		.inline;
		width: 124px;
	}
	.price_date {
		.inline;
	}
}

.object_single {
	.clearfix;
	.inline;
	.left;
	.individual_listing;
	.rounded_corners(10px) !important;
	-webkit-border-top-right-radius: 0px !important;
	-webkit-border-bottom-right-radius: 0px !important;
	-moz-border-radius-topright: 0px !important;
	-moz-border-radius-bottomright: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;			
	padding: 10px 0px 10px 10px;
	width: 500px;
	border-right: 0;
	&:hover {
		background: darken(@background_gray, 2%); 
	}
	h4 {
		margin: 0;
		font-size: 14px;
	}	
	p {
		margin: 0;
	}	
	.icon {
		.left;
		margin: 5px 5px 0px 0px;
		width: 40px;
	}
	.title_desc {
		.left;
		width: 200px;
	}
	.category_contact {
		.left;
		p {
			font-size: 10px;
		}
		width: 140px;
		padding-left: 10px;
		overflow: hidden;
	}
	.price_date {
		.left;
		width: 100px;
		h3 {
			margin: 0;
			.blue;
			font-size: 16px;
		}
		h4 {
			font-size: 14px;
		}
		a {
			.orange;
			font-weight: bold;
		}
	}
}

.object_single_image {
	.inline;
	.left;
	img {
		width: 140px;	
		margin-top: 20px;
		padding: 3px;
		.rounded_corners(5px);
		background: #FFF;
		box-shadow: 0px 0px 10px @light_gray;		
	}
}

.full_width_heading {
	.clearfix;
	font-size: 14px;
	color: @light_gray;
	font-weight: bold;
	margin-top: 20px;
	.title_desc {
		.inline;
		margin-left: 72px;
		width: 260px;
	}
	.detail_1 {
		.inline;
		width: 140px;
	}
	.detail_2 {
		.inline;
		width: 130px;
	}
	.detail_3 {
		.inline;
		width: 140px;
	}
	.detail_4 {
		.inline;
	}
}

.full_width_listing {
	.button;
	width: 100%;
	margin-top: 20px !important;
	&:hover {
		background: darken(@background_gray, 2%);
	}
	.listing_content {
		width: 140px;
		.inline;
		.left;
		padding: 10px 10px 0px 0px;
		font-size: 14px;
		font-weight: bold;	
	}
	.main {
		border-right: 1px solid darken(@background_gray, 10%);		
		height: 60px;
	}
	.arrow {
		line-height: 60px;
		.blue;
	}
	img {
		.inline;
		.left;
		padding: 10px 20px;
	}
	.title_desc {
		.inline;
		.left;
		padding: 10px 10px 0px 0px;
		width: 260px;
		h4 {
			margin: 0;
			font-size: 14px;
		}
		p {
			margin: 0;
		}
	}
	.detail_1 {
		.listing_content;
	}
	.detail_2 {
		.listing_content;
	}
	.detail_3 {
		.listing_content;
	}
	.contact {
		width: 100px;
		padding: 10px 20px 0px 0px;
		.inline;
		.left;
		strong {
			.blue;
			font-size: 20px;
			font-weight: bold;
		}
		a {
			.orange;
			font-weight: bold;
		}
	}
}

.bubble_content {
	padding: 4px 12px;
	h2 {
		.uppercase_and_bold;
		.green;
	}
}

/* ----------------------------------------------- THAT DAMN BUTTON */

.button {
	.rounded_corners;
	background: @background_gray;
	margin: 20px 0px;
	overflow: auto;
	border: 1px solid darken(@background_gray, 10%);
	box-shadow: #CCC 0px 0px 7px;
	.main {
		.left;
		border-right: 1px solid darken(@background_gray, 10%);		
	}
	.arrow {
		.right;
		width: 40px;
		font-size: 32px;
		line-height: 64px;
		font-weight: bold;
		text-align: center;	
	}
}

.button_title {
	font-size: 20px;
	padding: 20px;
	.uppercase_and_bold;
}

.orange_hover {
    border: 1px solid @orange;
    box-shadow: lighten(@orange, 20%) 0px 0px 7px;    
}

.blue_hover {
    border: 1px solid @blue;
    box-shadow: lighten(@blue, 20%) 0px 0px 7px;
}

.create_listing_button {
	.button;
	.orange;
	.main {
		.button_title;
		width: 270px;
	}
	&:hover {
		.orange_hover;
	}
}

/* ----------------------------------------------- WELCOME */

.smart_quote {
	color: @blue;
	font-family: "Stroke";
	font-weight: bold;
	font-size: 48px;
	line-height: 14px;
	display: inline;
	position: relative;
}

#welcome {
	h2 {
		font-family: "Maven Pro";
		font-weight: 900;
		padding: 20px 0px 0px;
		font-size: 32px;
		margin: 0;
		color: @green;
	}
	h3 {
		font-family: "Lato";
		text-transform: none;
		font-weight: 200;
		font-size: 24px;
	}
	#video {
		background: @dark_gray;
		color: #FFF;
		font-size: 48px;
		font-weight: 100;
		padding: 50px 0px;
		box-sizing: border-box;
		width: 500px;
		height: 282px;
		text-align: center;
		float: left;
	}
	#intro {
		box-sizing: border-box;
		padding: 0px 40px;
		width: 400px;
		float: right;
		font-weight: 100;
		h3 {
			margin: 0px;
		}
		p {
			font-size: 18px;
		}
	}
	#intro_reg {
		display: block;
		margin: 0px auto;
		padding: 8px;
		color: #FFF;
		text-align: center;
		background: @orange;
		.uppercase_and_bold;
		.transitions;
		margin-top: 30px;
		width: 200px;
		&:hover {
			background: @darker_orange;
			text-decoration: none;
		}
	}
	hr {
		border-top: 1px solid @lighter_gray;
		border-bottom: 0;
		margin: 24px 0px;
	}
	#testimonials {
		.right;
		h3 {
			margin-top: 20px;
		}
		width: 500px;
	}
	#sample_listings {
		.left;
		box-sizing: border-box;
		background: #F3F3F3;		
		padding: 20px;
		width: 360px;
		h3 {
			margin: 0;
		}
	}
	.sample_listing {
		img {
			width: 120px;
			height: 120px;
			background: #FFF;
			padding: 10px;
			border: 1px solid @lighter_gray;
			margin-top: 18px;
			float: left;
		}
		img:nth-child(2n) {
			margin-left: 26px;
		}
		h4 {
			float: right;
			width: 160px;
			margin: 12px 0px;
		}
	}
	.testimonial {
		font-size: 18px;
		font-weight: 100;
		margin-bottom: 30px;
		.left_quote {
			.smart_quote;
			top: 16px;
			padding-right: 10px;
		}
		.right_quote {
			.smart_quote;
			top: 24px;
			padding-left: 10px;
		}
	}
	.testimonial_source {
		margin-top: 10px;
		text-align: right;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 200;
		em {
			text-transform: none;
		}
	}
}

/* ----------------------------------------------- REGISTER (SCHOOL) */

.register_school_intro {
	h2 {
		font-size: 32px !important;
		color: @light_gray !important;
	}
	.register_school_title {
		color: @orange;
	}
	p {
		font-size: 18px !important;
		font-weight: 100;
	}
	h3 {
		text-transform: none !important;
		font-size: 24px;
		font-weight: 200 !important;
		margin: 20px 0px !important;
	}
	img {
			width: 120px;
			height: 120px;
			background: #FFF;
			padding: 10px;
			border: 1px solid @lighter_gray;
			margin-right: 20px;
			float: left;		
			box-shadow: 0px 0px 10px @lightest_gray;
	}
}

.register_school {
	label {
		.inline;
		width: 100px;
		font-weight: bold;
		font-size: 14px;
	}
	input[type="text"] {
		.inline;
		width: 200px;
		border-bottom: 1px solid @light_gray;
	}
	input[type="submit"] {
		margin-left: 100px;
		border: 1px solid @darker_blue;		
		background: @blue;
		color: #FFF;		
		.transitions(0.1s);
		.uppercase_and_bold;
		&:hover {
			background: @kinda_darker_blue;
			.transitions(0.1s);
		}
	}
}

.register_bubble {
	padding: 10px 20px;
	label {
		.inline;
		width: 200px;
		.uppercase_and_bold;
		margin-right: 10px;
	}
	input[type="text"], input[type="password"] {
		border: 1px solid @lighter_gray;
		width: 200px;
		color: @dark_gray;
	}
	input:focus {
		border: 1px solid @light_gray;
		color: #000;
	}
}

/* ----------------------------------------------- HOMEPAGE */

.homepage_market_listing {
	.button;
	.main {
		width: 500px;
		padding: 10px 0px;
		img {
			padding: 0px 10px;
			.left;
		}
		.desc {
			.left;
			width: 300px;
			h4 {	
				margin: 0;
				font-size: 14px;
			}
			p {
				margin: 0;
				font-size: 10px !important;
			}			
		}
		.contributor {
			.right;
			text-align: right;
			padding-right: 10px;
			width: 140px;
			.small_text;
		}
	}
	.arrow {
		.blue;
	}
	&:hover {
		.blue_hover;
	}
}

.homepage_organizations {
	img {
		.clearfix;
		.left;
		margin: 10px 20px 10px 0px;
	}
	h3 {
		.inline;
		.left;
	}
}

/* ----------------------------------------------- MY LIFE */

.mylife_notification {
	.orange;
	.uppercase_and_bold;
	.right;
	margin-top: 24px;
}

.mylife_listing {
	.individual_listing;
	padding: 10px;
	.icon {
		.left;
		.inline;
	}
	.main {
		.right;
		width: 470px;
		h4 {
			margin: 0;
			font-size: 16px;
			.inline;
		}
		.edit {
			.inline;
			.right;
			background: @blue;
			border: 1px solid @darker_blue;
			color: #FFF;
			padding: 5px;
			.uppercase_and_bold;
		}
		p {
			clear: both;
			margin-top: 16px;
		}
		.date {
			.small_text;
		}
		.comments_title {
			.uppercase_and_bold;
			.blue;
			margin-top: 6px;
		}
		.comment {
			border-top: 1px solid @light_gray;
			margin-top: 6px;
			p {
				margin-top: 6px;
			}
			.desc {
				.small_text;
				.time {
					.inline;
					.left;
				}
				.respond {
					.inline;
					.right;
					a {
						font-style: italic;
						color: @light_gray;
					}
				}
			}
		}
	}
}

.mylife_side_box {
	overflow-y: scroll;
	height: 300px;
	.item {
		margin-bottom: 15px;
	}
	h4 {
		margin: 10px 0px 0px;
		font-size: 14px;
	}
	p {
		margin: 0;
	}
	.small_text {
		margin: 0;
	}
}

.mylife_featured_listing {
	margin: 20px 0px;
	img {
		.listing_image;
		width: 150px;
	}
	h4 {
		margin: 10px 0px;
		font-size: 14px;
	}
	strong {
		.uppercase_and_bold;
		.blue;
		font-size: 16px;
		margin: 10px 0px;
	}
	.details {
		.small_text;
		text-transform: none;
	}
}

.mylife_top_listings {
	.listing {
		overflow: auto;
		margin: 15px 0px;
		.main {
			.left;
			strong {
				font-size: 14px;
			}
			p { 
				margin: 5px 0px 0px 0px; 
			}
			width: 280px;
		}
		.price {
			.right;
			.blue;
			font-size: 16px;
			font-weight: bold;
		}	
	}
}

/* ----------------------------------------------- MARKET */

.market_featured {
	.rounded_box;
	padding-bottom: 15px;
	img {
		width: 150px;
		.listing_image;
	}
	h4 {
		font-size: 14px;
		margin: 10px 0px;
	}
	.asking {
		.uppercase_and_bold;
		.blue;
		font-size: 14px;
		margin: 10px 0px;
	}
	.details {
		.small_text;
		text-transform: none;
	}
}

/* ----------------------------------------------- SERVICES */

.services {
	height: 420px;
	.listing {
		border-bottom: 2px solid #DDD;
		padding: 10px 0px;
		&:last-child {
			border-botom: 0;
		}
		h4 {
			margin: 0;
		}
		.details {
			.small_text;
			margin-bottom: 10px;
		}
		.comments {
			.left;
			width: 100px;
			a {
				.orange;
				font-weight: bold;
			}
		}
		.comment_link {
			.right;
			a {
				.uppercase_and_bold;
				.blue;
			}
		}		
	}
}

.services_view_all {
	padding-right: 50px;
	text-align: right;
	font-style: italic;
	margin: 10px 0px;
}

/* ----------------------------------------------- SERVICES - HELP WANTED */

.help_wanted_featured {
	border: 3px solid @background_gray;
	.rounded_corners;
	overflow: auto;
	margin-bottom: 30px;
	h2 {
		font-size: 30px !important;
		margin: 10px 0px 0px 0px;
	}
	h3 {
		text-transform: none !important;
		margin: 5px 0px 10px 0px;
		color: @light_gray;
	}
	h4 {
		margin: 0;
		.inline;
	}
	.top {
		text-align: center;
		border-bottom: 3px solid @background_gray;
	}
	.left {
		width: 210px;
		padding: 10px;
		p {
			margin: 0;
		}
		a {
			display: block;
			margin-top: 10px;
			.orange;
			font-weight: bold;
		}
	}
	.right {
		width: 210px;
		padding: 10px;
		h4 {
			margin: 5px 0px;
		}
	}
}

/* ----------------------------------------------- EDIT LISTING */

.listing_admin {
	img {
		.listing_image;
		clear: both;
		width: 520px;
	}
	h3 {
		.inline;
		color: @light_gray !important;
		margin-right: 10px; 
	}
	.title {
		h2 {
			margin-bottom: 5px;
		}
		h3 {
			margin: 0px 0px 30px 0px !important;
		}
		.left;
	}
	.sold {
		h2 {
			margin-bottom: 5px;
		}
		.right;
		overflow: auto;
	}
	.asking {
		.inline;
		font-size: 20px;
		.blue;
		font-weight: bold;
	}	
	.bids {
		.individual_bid {
			background: @background_gray;
			.rounded_corners(10px);
			margin: 10px 0px;
			padding: 10px 10px;
			overflow: auto;
			.price {
				.left;
				font-size: 20px;
				.orange;
				font-weight: bold;
			}
			.highest {
				.blue;
			}
			.details {
				.left;
				.small_text;
				margin: 5px 10px 0px;
				padding: 0;
			}
			a {
				.left;
				background: @blue;
				border: 1px solid @darker_blue;
				padding: 2px 6px;
				color: #FFF;
				font-weight: bold;
			}
		}
	}
}

/* CHECKBOX */

.listing_admin {	
	.checkbox {
		width: 20px;
		height: 20px;
		.right;
	}	
	input[type=checkbox] {
		display: none;
	}
	input[type=checkbox] + label {
		display: block;
		text-indent: -9999px;
		font-size: 16px;
		color: @green;
		width: 16px;
		height: 16px;
		border: 2px solid @light_gray;
	}
	input[type=checkbox]:checked + label {
		text-indent: 0px;
		.no_transitions;
	}
}

/* ----------------------------------------------- CREATE A LISTING */
/* THIS SHIT IS A MESS. EDIT AT YOUR OWN RISK. */

.createlisting_form_container textarea {
	border: 1px solid #DADADA;
	background: #F1F1F1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
	padding: 5px 10px;
	min-width: 400px;
	&:focus {
		background: #FFF;
	}
}

.createlisting_select {
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;		
	background: #F1F1F1;
	margin: 20px 40px 0px 0px;
}

.createlisting_select_desc {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;		
	border: 1px solid #DADADA;
	box-shadow: #CCC 0px 0px 7px;
	overflow: auto;
	color: #DE572E;	
}

.createlisting_select_desc:hover {
	cursor: pointer;
	border: 1px solid #DE572E;
	box-shadow: #E8896D 0px 0px 7px;
}

.clsd_main {
	float: left;
	width: 232px;
	font-size: 20px;
	padding: 10px;
	font-weight: bold;
	text-transform: uppercase;
	border-right: 1px solid #DADADA;
}

.clsd_arrow {
	font-size: 32px;
	line-height: 44px;
	font-weight: bold;
	text-align: center;	
}

.createlisting_select_options {
	list-style-type: none;
	font-weight: bold;
	font-size: 14px;
	margin: 0;
	padding: 0;
	display: none;
}

.createlisting_select_options li {
	padding: 10px 20px;
	margin: 0;
}

.createlisting_select_options li:hover {
	color: #DE572E;
	cursor: pointer;
}

.createlisting_form_container {
	min-height: 400px;
}

.createlisting_form {
	display: none;
}

.createlisting_field {
	border: 1px solid #DADADA;
	background: #F1F1F1;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
	padding: 5px 10px;
	min-width: 400px;
	height: 24px;
}

.createlisting_form label {
	display: inline-block;
	min-width: 100px;
	font-weight: bold;
	font-size: 14px;
}

.createlisting_field:focus {
	outline: 0;
	background: #FFF;
}

.createlisting_submit {
	background: #F1F1F1;
	overflow: auto;
	margin: 20px 0px;
	width: 300px;
	.rounded_corners;
	border: 1px solid #DADADA;	
	box-shadow: #CCC 0px 0px 7px;
	&:hover {
		.blue_hover;
	}
}

.createlisting_submit_main {
	float: left;
	width: 258px;
	font-size: 20px;
	padding: 10px;
	color: #2AC1DC;
	font-weight: bold;
	text-transform: uppercase;
	border-right: 1px solid #DADADA;
}

.createlisting_submit_arrow {
	float: right;
	width: 40px;
	font-size: 32px;
	line-height: 44px;
	font-weight: bold;
	background: #F1F1F1;
	color: #2AC1DC;
	font-weight: bold;
	text-align: center;	
}

/* ----------------------------------------------- CONTACT PAGE */

#about {
	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 20px;
		.orange;
		font-weight: 900;
	}
	p {
		font-size: 14px;
		font-weight: 200;
	}
	.team {
		text-align: center;
	}
	.team_member {
		margin: 0px 20px;
		display: inline-block;
		width: 200px;
		height: 200px;
		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
}

/* ----------------------------------------------- CONTACT PAGE */

#contact_form form {
	input[type="text"], textarea {
		width: 400px;
		font-size: 14px;
		color: #000;
		&:focus {
			outline: 2px solid @blue;
			.transitions;
		}
		.transitions;
		padding: 6px;
		margin-bottom: 12px;
	}
	textarea {
		height: 200px;
		display: block;
	}
	input[type="submit"] {
		display: inline-block;
		background: @blue;
		margin-top: 12px;
		font-size: 14px;
		padding: 8px 12px;
		color: #FFF;
		.transitions;
		&:hover, &:focus {
			background: @kinda_darker_blue;
			.transitions;
		}
	}
	.submitted {
		display: inline-block;
		color: @orange;
	}
}