{% extends "loggedin_base.html" %}

{% block title %}My Campus{% endblock %}

{% block content %}
<div>
	<h2>My Campus &ndash; {{ school.name }}</h2>
	<p>Stay in the know regarding all the most engrossing and engaging events going on around campus, and get the low down on any relevant club information you may be curious about.</p>
</div>
<div>
	<a><div>
		<div>Create A Listing</div>
		<div>▶</div>
	</div></a>						
</div>				
<div>
	<h2>Calendar of Events</h2>
	{% for event in events %}
	<p>
		<strong>{{ event.startdate|date:"n.j.y" }}</strong> {{ event.title }}<br />
		{{ event.description }}
	</p>
	{% empty %}
	No events have been listed for {{ school.name }} yet!
	{% endfor %}				
</div>
<div>
	<div>
		<h2>Clubs on Campus</h2>
		<h4>Student Government</h4>
		<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		<h4>Student Government</h4>
		<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		<h4>Student Government</h4>
		<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	</div>				
</div>
{% endblock %}