{% extends "loggedin_base.html" %}

{% block title %}Create Listing{% endblock %}

{% block extrascript %}
<script type="text/javascript">
$(document).ready(function() {	
	var type = "{{ type }}";
	if (type == "helpwanted" || type == "rideshare") 
		$("#" + type + "_form").show();
	else if (type == "listing")
		$("#selling_form").show();
	else if (type == "lostfoundposting")
		$("#lostandfound_form").show();
});
</script>
{% endblock %}

{% block content %}
<div class="content_24">
	{% if edit %}
	<h2>Edit Listing</h2>
	{% else %}
	<h2>Create New Listing</h2>
	{% endif %}
	<p>Creating a listing is fast and easy. *We highly recommend uploading a picture as it will make for a more compelling listing.*</p>
	
	<div class="content_9 left clearfix">
		{% if not edit %}
		<div class="createlisting_select">
			<div class="createlisting_select_desc">
				<div class="clsd_main">Type of Listing</div>
				<div class="clsd_arrow">&#x25BC;</div>
			</div>
			<ul class="createlisting_select_options">
				<li class="createlisting_option" id="selling">Selling or looking for</li>
				<li class="createlisting_option" id="helpwanted">Help wanted</li>
				<li class="createlisting_option" id="rideshare">Rideshare</li>
				<li class="createlisting_option" id="lostandfound">Lost and found</li>
			</ul>
		</div>
		{% endif %}
	</div>
	<div class="content_15 right">
		<div class="createlisting_form_container">
		<form action="." method="post" class="createlisting_form" id="selling_form" enctype="multipart/form-data">
			<h2 class="orange">Selling or Looking For</h2>
			{% csrf_token %}
			{{ list_frm.as_p }}
			<a href="javascript:document.getElementById('selling_form').submit()"><div class="createlisting_submit">
				<div class="createlisting_submit_main">Submit Listing</div>
				<div class="createlisting_submit_arrow">&#9654;</div>
			</div></a>
		</form>						
		<form action="." method="post" class="createlisting_form" id="helpwanted_form" enctype="multipart/form-data">
			<h2 class="orange">Help Wanted</h2>
			{% csrf_token %}
			{{ hw_frm.as_p }}
			<a href="javascript:document.getElementById('helpwanted_form').submit()"><div class="createlisting_submit">
				<div class="createlisting_submit_main">Submit Listing</div>
				<div class="createlisting_submit_arrow">&#9654;</div>
			</div></a>
		</form>
		<form action="." method="post" class="createlisting_form" id="rideshare_form" enctype="multipart/form-data">
			<h2 class="orange">Rideshare</h2>
			{% csrf_token %}
			{{ rs_frm.as_p }}
			<a href="javascript:document.getElementById('rideshare_form').submit()"><div class="createlisting_submit">
				<div class="createlisting_submit_main">Submit Listing</div>
				<div class="createlisting_submit_arrow">&#9654;</div>
			</div></a>
		</form>
		<form action="." method="post" class="createlisting_form" id="lostandfound_form" enctype="multipart/form-data">
			<h2 class="orange">Lost + Found</h2>
			{% csrf_token %}
			{{ lf_frm.as_p }}
			<a href="javascript:document.getElementById('lostandfound_form').submit()"><div class="createlisting_submit">
				<div class="createlisting_submit_main">Submit Listing</div>
				<div class="createlisting_submit_arrow">&#9654;</div>
			</div></a>
		</form>
		</div>
		</div>
</div>
{% endblock %}