<div id="footer">
	<div id="footer_wrapper">
		<div class="left">
			Copyright Gateswap 2012
		</div>
		<div class="right">
			<a href="{% url about %}">About</a> 
			<a class="fancybox fancybox.iframe" href="{% url privacypolicy %}">Privacy Policy</a> 
			<a class="fancybox fancybox.iframe" href="{% url terms %}">Terms + Conditions</a> 
			<!--<a class="fancybox fancybox.iframe" href="{% url contactus %}">Contact</a>-->
			<a href="mailto:admin@gateswap.com">Contact</a>			
		</div>
	</div>
</div>