{% extends "loggedin_base.html" %}
{% load comments %}

{% block title %}Help Wanted{% endblock %}

{% block content %}
<div class="content_15 left">
	<h2>Services: Help Wanted</h2>
	<p>Find a helping hand around campus, or help someone out.</p>	
</div>
<div class="content_9 right">
	<a href="{% url create_listing %}"><div class="create_listing_button">
		<div class="main">Create A Listing</div>
		<div class="arrow">&#9654;</div>
	</div></a>						
</div>
{% if featured_list %}
<div class="content_12 left clearfix">
	<div class="help_wanted_featured">
		<div class="top">
			<h2 class="green">Help Wanted</h2>
			<a href="{% url help_wanted featured_list.0.id %}"><h3>{{ featured_list.0.title }}</h3></a>
		</div>
		<div class="left">
			<p>{{ featured_list.0.description }}</p>
			{% get_comment_count for featured_list.0 as comment_count %}
			<a href="{% url help_wanted featured_list.0.id %}">{{ comment_count }} comments</a>
		</div>
		<div class="right">
			<h4 style="display:block">When: {{ featured_list.0.pub_date|date:"N j, Y" }}</h4>
			<h4 style="display:block">How Long: {{ featured_list.0.time_required }}</h4>
			<h4 style="display:block">How much: ${{ featured_list.0.compensation }}</h4>
		</div>
	</div>
</div>
<div class="content_12 right">
	<div class="help_wanted_featured">
		<div class="top">
			<h2 class="green">Help Wanted</h2>
			<a href="{% url help_wanted featured_list.1.id %}"><h3>{{ featured_list.1.title }}</h3></a>
		</div>
		<div class="left">
			<p>{{ featured_list.1.description }}</p>
			{% get_comment_count for featured_list.1 as comment_count %}
			<a href="{% url help_wanted featured_list.1.id %}">{{ comment_count }} comments</a>
		</div>
		<div class="right">
			<h4 style="display:block">When: {{ featured_list.1.pub_date|date:"N j, Y" }}</h4>
			<h4 style="display:block">How Long: {{ featured_list.1.time_required }}</h4>
			<h4 style="display:block">How Much: ${{ featured_list.1.compensation }}</h4>
		</div>
	</div>
</div>
{% else %}
<div class="content_24 right"><h3>No featured listings are available!</h3></div>
<br /><br />
{% endif %}
<div class="content_24" clearfix">
	<div class="full_width_heading">
		<div class="title_desc">Title and Description</div>
		<div class="detail_3">Compensation</div>
	</div>
	{% for post in listings %}
	<div class="full_width_listing">
		<div class="main">
			<img src="{{ STATIC_URL }}images/ico_help.png" />
			<div class="title_desc">
				<h4><a href="{% url help_wanted post.id %}">{{ post.title }}</a></h4>
				<p>{{ post.description|truncatechars:100 }}</p>
			</div>
			<div class="detail_3">{% if price.compensation %}{{ price.compensation }}{% else %}FREE{% endif %}</div>
			<div class="contact">
				{% get_comment_count for post as comment_count %}
				<a href="">{{ comment_count }} comments</a>
			</div>
		</div>
		<a href="{% url help_wanted post.id %}"><div class="arrow">&#9654;</div></a>
	</div>
	{% empty %}
	<em>No help wanted listings available!</em>
	{% endfor %}
</div>
{% endblock %}