{% extends "loggedin_base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="content_15 left">
	<a href="{% url market %}"><h2>Market</h2></a>
	<p>Scope out what friends, classmates, teachers, mascots, campus security, and even librarians are buying and selling on campus, and toss your own goods into the mix as well.</p>
	
	{% for listing in listings %}
	<a href="{% url market_single listing.id %}"><div class="homepage_market_listing">
		<div class="main">
		{% if listing.selling %}
			<img src="{{ STATIC_URL}}images/ico_sell.png" />
		{% else %}
			<img src="{{ STATIC_URL}}images/ico_buy.png" />
		{% endif %}
			<div class="desc">
				<h4>{{ listing.title }}{% if listing.price %} - ${{ listing.price }}{% endif %}</h4>
				<p>{{ listing.description|truncatechars:80 }}</p>
			</div>
			<div class="contributor">
				Posted by {{ listing.owner.username }}<br/>
				{{ listing.pub_date|date:"n.j.y - f A" }}
			</div>
		</div>
		<div class="arrow">&#9654;</div>
	</div></a>
	{% empty %}
	<em>No listings available!</em>
	{% endfor %}
</div>
<div class="content_9 right">
	<a href="{% url create_listing %}"><div class="create_listing_button">
		<div class="main">Create A Listing</div>
		<div class="arrow">&#9654;</div>
	</div></a>
	<div class="rounded_box">
		<a href="{% url mycampus_main %}"><h2>My Campus</h2></a>
		<p>Stay in the know regarding all the most engrossing and engaging events going on around campus, and get the low down on any relevant club information you may be curious about.</p>
		<div class="homepage_organizations">
			<img src="{{ STATIC_URL }}images/ico_residential.png" /><h3>Residential Life</h3>
			<img src="{{ STATIC_URL }}images/ico_government.png" /><h3>Student Government</h3>
			<img src="{{ STATIC_URL }}images/ico_administration.png" /><h3>Administration</h3>
		</div>
	</div>
	<div class="rounded_box">
		<a href="{% url services %}"><h2>Services</h2></a>
		<p>Getting stuff done is easier with a helping hand. Look for opportunities to help or get help from your peers, give or get a ride to where you need to go, and find or return lost items.</p>
		<h3>Help Wanted</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<h3>Lost + Found</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<h3>Rideshare</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>
</div>
{% endblock %}