{% extends "loggedin_base.html" %}
{% load comments %}

{% block title %}{{ listing.title }} Admin{% endblock %}

{% block content %}
<div class="content_15 left">
	<div class="listing_admin">
		<h2>Market</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<div class="title">
			<h2 class="green">Title</h2>
			<h3>{{ listing.title }}</h3>
		</div>
		<div class="sold">
			<h2 class="green">{% if listing.selling %}Sold?{% else %}Found?{% endif %}</h2>
			<div class="checkbox" onclick="window.location='{% url toggle_fulfilled listing.id %}'">
			  <input id="check" type="checkbox"{% if listing.fulfilled %} checked="checked"{% endif %} value="1" />
			  <label for="check">&nbsp;&#10004;</label>
			</div>
		</div>
		{% if listing.image %}
			<img src="{{ MEDIA_URL }}{{ listing.image.file }}" />
		{% else %}
			<img src="{{ STATIC_URL }}images/no_photo.png" />
		{% endif %}
		<h2 class="green">About / Description</h2>			
		<p>{{ listing.description }}</p>
		<h3>Your Asking Price:</h3><div class="asking">${{ listing.price }}</div>
	{% if listing.selling %}
		<h2 class="green">Bids</h2>
		<div class="bids">
			{% for bid in bids %}
			<div class="individual_bid">
				<div class="price{% ifequal bid.amount max_bid.amount %} highest{% endifequal %}">{{ bid }}</div>
				<div class="details">
					Made by {{ bid.made_by.username }} on {{ bid.pub_date|date:"n.j.y at f A" }}
				</div>
				<a href="mailto:{{ bid.made_by.email }}?subject={{ "[GATESWAP] Your Gateswap bid on "|add:listing.title|urlencode }}">Reply to bid</a>
			</div>
			{% empty %}
			<h3>No bids yet!</h3>
			{% endfor %}
		</div>
	{% endif %}
	</div>
</div>
<div class="content_9 right">
	<a href="{% url edit_listing type="listing" pk=listing.id %}"><div class="create_listing_button">
		<div class="main">Edit Listing</div>
		<div class="arrow">&#9654;</div>
	</div></a>
	<div class="sidebar_comments">
		<h2 class="blue">Comments</h2>
		{% get_comment_count for listing as comment_count %}
		<div class="comment_count">{{ comment_count }}</div>
		{% get_comment_list for listing as comments %}
		{% for comment in comments %}
		<div class="comment">
			<h4>{{ comment.user.username }}</h4> {{ comment.comment }}
			<div class="admin_options">
				<div class="details">
					{{ comment.submit_date|date:"n.j.y - f A" }}
				</div>
				<a href="mailto:{{ comment.user.email }}?subject={{ "[GATESWAP] Your Gateswap comment on "|add:listing.title|urlencode }}" class="reply">
					Reply via email
				</a>									
				<a href="{% url delete_comment pk=comment.id %}" class="delete">
					Delete
				</a>
			</div>
		</div>
		{% empty %}
		<div class="small_italics comment"><br />No comments yet!</div>
		{% endfor %}				
	</div>
	<div class="sidebar_add_comment">
		<h2>Add Comment</h2>
		{% if listing.fulfilled %}
		<h3>The listing has been marked as fulfilled, and no comments may be posted.</h3>
		{% else %}
		<form action="{% comment_form_target %}" method="post">
			{% csrf_token %}
			{% render_comment_form for listing %}
			<input type="hidden" name="next" value="{% url market_single listing.id %}" />
			<input type="submit" name="post" value="Submit" class="submit_comment" />
		</form>
		{% endif %}
	</div>	
</div>
{% endblock %}