<!doctype html>
<html>
	<head>
		<title>
			Gateswap - {% block title %}Welcome{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL }}style.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins.css" />
		<link href="http://cssksw.com/9n4up7prtx" type="text/css" rel="stylesheet" media="screen" />
		<style type="text/css">
			#header {
				background-image: url("{{ MEDIA_URL }}{{ user.get_profile.school.bg_photo }}");
			}
		</style>
		{% block extrastyle %}{% endblock %}
		<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.8.0.min.js"></script>	
		<script type="text/javascript" src="{{ STATIC_URL }}scripts.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}plugins.js"></script>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-27821773-1']);
		  _gaq.push(['_setDomainName', 'gateswap.com']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		{% block extrascript %}
		<script type="text/javascript">
			function search(e) {
				if (e.keyCode == 13) {
					var sb = document.getElementById("searchbox");
					window.location = "{% url market %}?q=" + sb.value;
					return false;
				}
			}
		</script>
		{% endblock %}	
	</head>
	<body>
		<div id="header">
				<div id="navigation">
					<ul class="menu">
						<li class="menu_item">
							<a href="{% url GateSwap.collegemall.views.my_life %}" class="heading">My Listings</a><span class="menu_arrow">&#x25BC;</span>
							<!--<ul class="submenu">
								<li class="submenu_item">
									<a href="">My Listings</a>
								</li>
								<li class="submenu_item">
									<a href="">My Campus</a>
								</li>
								<li class="submenu_item">
									<a href="">My Calendar</a>
								</li>
							</ul>-->
						</li>
						<li class="menu_item">
							<a href="{% url GateSwap.collegemall.views.market %}" class="heading">Market</a><span class="menu_arrow">&#x25BC;</span>
							<ul class="submenu">
								{% for category, count in categories %}
								<li class="submenu_item">
									<a href="{% url market %}?category={{ category.id }}">{{ category|capfirst }} ({{ count }})</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="menu_item">
							<a href="{% url GateSwap.mycampus.views.mycampus_main %}" class="heading">My Campus</a><span class="menu_arrow">&#x25BC;</span>
							<!--<ul class="submenu">
								<li class="submenu_item">
									<a href="">Item 1</a>
								</li>
								<li class="submenu_item">
									<a href="">Item 2</a>
								</li>
								<li class="submenu_item">
									<a href="">Item 3</a>
								</li>
							</ul>-->
						</li>
						<li class="menu_item">
							<a href="{% url GateSwap.collegemall.views.services %}" class="heading">Services</a><span class="menu_arrow">&#x25BC;</span>
							<ul class="submenu">
								<li class="submenu_item">
									<a href="{% url help_wanted %}">Help Wanted</a>
								</li>
								<li class="submenu_item">
									<a href="{% url rideshare %}">Rideshare</a>
								</li>
								<li class="submenu_item">
									<a href="{% url lost_found %}">Lost & Found</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div id="top_bar">
					<div class="welcome">
						<p>Welcome, <a href="{% url GateSwap.collegemall.views.my_life %}">{{ user.username }}</a></p>
						<a href="{% url my_life %}"><div class="notifications">{{ n_count }}</div></a>
						<a href="{% url django.contrib.auth.views.logout %}" class="logout">Logout</a>					
					</div>
				</div>
				<div id="title">
					<a href="{% url GateSwap.collegemall.views.home %}">
						<h1>Gate</h1>
						<h2>Swap</h2>
					</a>
					<div class="subtitle">
							@ {{ user.get_profile.school }}
					</div>
				</div>
				<div id="header_box"><div class="calendar_box">
					<input type="text" id="searchbox" value="Search a keyword or ISBN#" title="Search a keyword or ISBN#" onkeypress="search(event);" />
					<h2>Calendar of Events</h2>
					<div id="calendar">
						{% for event in event_ticker %}
						<p>
							<a href="{% if event.link %}event.link{% else %}http://calendar.colgate.edu/{% endif %}" target="_blank">{{ event.title|safe }}</a><br/>
							<span class="details">{{ event.location|safe }} - {{ event.startdate|date:"n.j.y" }}</span>
						</p>
						{% empty %}
						<p>No events are available right now!</p>
						{% endfor %}
					</div>
				</div></div>
			</div>
		<div id="main">
			<div id="main_wrapper">
				{% block content %}{% endblock %}		
			</div>
		</div>
		{% include "footer.html" %}
	</body>
</html>