<!doctype html>

<html>
	<head>
		<title>
			Gateswap - {% block title %}Welcome{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins.css" />
		{% block extrastyle %}{% endblock %}
		<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.8.0.min.js"></script>	
		<script type="text/javascript" src="{{ STATIC_URL }}scripts.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}plugins.js"></script>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-27821773-1']);
		  _gaq.push(['_setDomainName', 'gateswap.com']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		{% block extrascript %}{% endblock %}				
	</head>
	<body>
		<div id="header" class='home'>
			<!--<div class="caption">Avicii at Colgate's Spring Party Weekend 2012</div>-->
			<div id="top_bar">
				{% include "loginform.html" %}
			</div>
			<a href="/"><div id="title">
				<h1>Gate</h1>
				<h2>Swap</h2>
				<div class="subtitle">	
					Live sustainably. Swap socially.
				</div>
			</div></a>
		</div>
		<div id="main">
			<div id="main_wrapper">
				{% block content %}{% endblock %}
			</div>
		</div>
		{% include "footer.html" %}
	</body>
</html>