<div class="login">
    <div class="form">
        <form action="{% url login %}?next={% url market %}" method="post" id="login_form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.username }}
        {{ form.password }}
        <input type="submit" value="Sign In" />
        <br/>
        <div class="forgot"><a href="{% url django.contrib.auth.views.password_reset %}">Forgot password?</a></div> 
        <div class="remember"><input type="checkbox" name="remember_me" id="id_remember_me" /><label for="checkbox">Remember Me</label></div>
        <input type="hidden" name="next" value="{% url market %}" />
        </form>
    </div>
    <div class="register">or <a class="fancybox fancybox.iframe" href="{% url registration_register %}">Register</a> for an account</div>   
</div>