{% extends "loggedin_base.html" %}
{% load comments %}

{% block title %}{{ listing.title }}{% endblock %}

{% block content %}
<div class="content_15 left">	`					
	<h2>Services: Lost and Found</h2>
	<p>Whether you’ve lost or found an item, throw a listing up here to let everyone know about it.</p>
	<div class="single_listing_top">
		<div class="title">
			<h4>Title:</h4><br/>
			<h2 class="blue">{% if listing.lost %}Lost:{% else %}Found:{% endif %} {{ listing.title }}</h2>								
		</div>		
		<div class="icon">
		{% if listing.lost %}
			<img src="{{ STATIC_URL }}images/ico_help.png" />
		{% else %}
			<img src="{{ STATIC_URL }}images/ico_buy.png" />
		{% endif %}
		</div>
		<div class="main">
			<div class="left">
				<div class="category">
					<h4>Category:</h4> {{ listing.category.name }}
				</div>
			</div>
			<div class="right">
				<div class="date">
					<h4>Date:</h4> {{ listing.pub_date|date:"N j, Y" }}
				</div>	
			</div>
			{% if listing.image %}
				<img src="{{ MEDIA_URL }}{{ listing.image.file }}" />
			{% else %}
				<img src="{{ STATIC_URL }}images/no_photo.png" />
			{% endif %}
			<div class="left">
				<div class="about">
					<h4>About/description:</h4><br/>
					{{ listing.description }}
				</div>
			</div>
			<div class="right">
				<div class="price">
					<h4>Reward:</h4> <strong class="orange">{% if listing.reward %}${{ listing.reward }}{% else %}--{% endif %}</strong>
				</div>
				<div class="contact">
					<h4>Contact information:</h4><br/>
					{{ listing.owner.get_full_name }}<br/>
					{{ listing.owner.email }}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content_9 right">
	<a href=""><div class="create_listing_button">
		<div class="main">Create A Listing</div>
		<div class="arrow">&#9654;</div>
	</div></a>		
	<div class="sidebar_comments">
		{% get_comment_count for listing as comment_count %}
		<h2 class="blue">Comments</h2><div class="comment_count">{{ comment_count }}</div>
		{% get_comment_list for listing as comments %}
		{% for comment in comments %}
		<div class="comment">
			<h4>
				{% ifequal comment.user.id user.id %}
					{{ comment.user.get_full_name }} (<em>seller</em>)
				{% else %}
					{{ comment.user.get_full_name }}
				{% endifequal %}
			</h4> {{ comment.comment }}
			<div class="details">
				{{ comment.submit_date|date:"n.j.y - f A" }}
			</div>
		</div>
		{% empty %}
		<div class="small_italics comment"><br />No comments yet!</div>
		{% endfor %}						
	</div>
	<div class="sidebar_add_comment">
		<h2>Add Comment</h2>
		{% if listing.fulfilled %}
		<h3>The listing has been marked as fulfilled, and no comments may be posted.</h3>
		{% else %}
		<form action="{% comment_form_target %}" method="post">
			{% csrf_token %}
			{% render_comment_form for listing %}
			<input type="hidden" name="next" value="{% url lost_found listing.id %}" />
			<input type="submit" name="post" value="Submit" class="submit_comment" />
		</form>
		{% endif %}
	</div>
</div>
{% endblock %}