{% extends "loggedin_base.html" %}
{% load comments %}

{% block title %}Lost and Found{% endblock %}

{% block content %}
<div class="content_15 left">
	<h2>Services: Lost and Found</h2>
	<p>Whether you’ve lost or found an item, throw a listing up here to let everyone know about it.</p>	
</div>
<div class="content_9 right">
	<a href="{% url create_listing %}"><div class="create_listing_button">
		<div class="main">Create A Listing</div>
		<div class="arrow">&#9654;</div>
	</div></a>					
</div>
<div class="content_18 left clearfix">
	<div class="object_heading">
		<div class="title_desc">Title and Description</div>
		<div class="category_contact">Category/Contact</div>
		<div class="price_date">Reward and Date</div>
	</div>					
	{% for listing in listings %}
	<div class="object_single">
		<div class="icon">
		{% if listing.lost %}
			<img src="{{ STATIC_URL }}images/ico_help.png" />
		{% else %}
			<img src="{{ STATIC_URL }}images/ico_buy.png" />
		{% endif %}
		</div>
		<div class="title_desc">
			<a href="{% url lost_found listing.id %}"><h4>{% if listing.lost %}Lost:{% else %}Found:{% endif %} {{ listing.title }}</h4></a>
			<p>{{ listing.description|truncatechars:100 }}</p>
		</div>
		<div class="category_contact">
			<h4>{{ listing.category.name }}</h4>
			<p>{{ listing.owner.get_full_name }}<br/>{{ listing.owner.email }}</p>
		</div>
		<div class="price_date">
			<h3>{% if listing.reward %}${{ listing.reward }}{% else %}--{% endif %}</h3>
			<h4>{{ listing.pub_date|date:"N j, Y" }}</h4>
			{% get_comment_count for listing as comment_count %}
			<a href="{% url lost_found listing.id %}">{{ comment_count }} comments</a>							
		</div>
	</div>
	<div class="object_single_image">
		{% if listing.image %}
			<img src="{{ MEDIA_URL }}{{ listing.image.thumbnail }}" />
		{% else %}
			<img src="{{ STATIC_URL }}images/no_photo.png" />
		{% endif %}
	</div>
	{% empty %}
	<em>No lost and found postings available!</em>
	{% endfor %}
</div>
<div class="content_6 right">
	<div class="object_categories">
		<h2>Categories</h2>
		{% for category, count in categories %}
			<a href="{% url lost_found %}?category={{ category.id }}">{{ category|capfirst }} ({{count}})</a>
		{% empty %}
		<em>No categories available!</em>
		{% endfor %}
	</div>
</div>
{% endblock %}