{% extends "loggedin_base.html" %}
{% load comments %}

{% block title %}{% endblock %}

{% block content %}
<div class="content_15 left">
	<h2>Market</h2>
	<p>Scope out what friends, classmates, teachers, mascots, campus security, and even librarians are buying and selling on campus, and toss your own goods into the mix as well.</p>
	
	<div class="single_listing_top">									
		<div class="title">
			<h4>Title:</h4><br/>
			<h2 class="blue">{% if listing.selling %}Selling{% else %}Looking For{% endif %} {{ listing.title }}</h2>
		</div>
		<div class="icon">
		{% if listing.selling %}
			<img src="{{ STATIC_URL }}images/ico_sell.png" />
		{% else %}
			<img src="{{ STATIC_URL }}images/ico_buy.png" />
		{% endif %}
		</div>	
		<div class="main">			
			<div class="left">	
				<div class="category">
					<h4>Category:</h4> {{ listing.category.name }}
				</div>
			</div>
			<div class="right">
				<div class="date">
					<h4>Date:</h4> {{ listing.pub_date|date:"N j, Y" }}
				</div>
			</div>
			{% if listing.image %}
				<img src="{{ MEDIA_URL }}{{ listing.image.file }}" />
			{% else %}
				<img src="{{ STATIC_URL }}images/no_photo.png" />
			{% endif %}
			<div class="left">
				<div class="about">
					<h4>About/Description:</h4><br/>
					{{ listing.description }}
				</div>
				<div class="contact">
					<h4>Contact information:</h4><br/>
					{{ listing.owner.username }} <br/>
					<a href="mailto:{{ listing.owner.email }}?subject={{ "[GATESWAP] I'm interested in your Gateswap listing!"|urlencode }}">{{ listing.owner.email }}</a>
				</div>
			</div>
			<div class="right">
				<div class="price">
					<h4>Asking Price:</h4> <strong class="orange">{% if listing.price %}${{ listing.price }}{% else %}--{% endif %}</strong><br/>
					{% if listing.selling %}
					<h4>Highest Bid:</h4> <strong class="blue">	{% if max_bid %}{{ max_bid }}{% else %}--{% endif %}</strong><br/>
					<h4>Your Bid:</h4>
					<div class="your_bid">
						<form action="." method="post">
							{% csrf_token %}
							{% if bid_form.amount.errors %}{{ bid_form.amount.errors }}{% endif %}
							{{ bid_form.amount }}
							<p><input type="submit" value="Place Bid" class="item_submitbid" /></p>
						</form>						
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content_9 right">	
	<a href="{% url create_listing %}"><div class="create_listing_button">
		<div class="main">Create A Listing</div>
		<div class="arrow">&#9654;</div>
	</div></a>			
	<div class="sidebar_comments">
		<h2 class="blue">Comments</h2>
		{% get_comment_count for listing as comment_count %}
		<div class="comment_count">{{ comment_count }}</div>
		{% get_comment_list for listing as comments %}
		{% for comment in comments %}
		<div class="comment">
			<h4>
				{% ifequal comment.user.id comment.content_object.owner.id %}
					{{ comment.user.username }} (<em>seller</em>)
				{% else %}
					{{ comment.user.username }}
				{% endifequal %}
			</h4> {{ comment.comment }}
			<div class="details">{{ comment.submit_date|date:"n.j.y - f A" }}</div>
		</div>
		{% empty %}
		<div class="small_italics comment"><br />No comments yet!</div>
		{% endfor %}
	</div>
	<div class="sidebar_add_comment">
		<h2>Add Comment</h2>
		{% if listing.fulfilled %}
		<h3>The listing has been marked as fulfilled, and no comments may be posted.</h3>
		{% else %}
		<form action="{% comment_form_target %}" method="post">
			{% csrf_token %}
			{% render_comment_form for listing %}
			<input type="hidden" name="next" value="{% url market_single listing.id %}" />
			<input type="submit" name="post" value="Submit" class="submit_comment" />
		</form>
		{% endif %}
	</div>
</div>
{% endblock %}
