{% extends "loggedin_base.html" %}
{% load comments %}

{% block title %}Market{% endblock %}

{% block content %}
<div class="content_15 left">
	<h2>Market</h2>
	{% if search_query %}<h3>Search query: {{ search_query }}</h3>{% endif %}
	{% if category_filter %}<h3>Category: {{ category_filter }}</h3>{% endif %}
	<p>Scope out what friends, classmates, teachers, mascots, campus security, and even librarians are buying and selling on campus, and toss your own goods into the mix as well.</p>
</div>
<div class="content_9 right">
	<a href="{% url create_listing %}"><div class="create_listing_button">
		<div class="main">Create A Listing</div>
		<div class="arrow">&#9654;</div>
	</div></a>
</div>
<div class="content_18 left clearfix">
	<div class="listings">
		<div class="object_heading">
			<div class="title_desc">Title and Description</div>
			<div class="category_contact">Category and Seller</div>
			<div class="price_date">Price and Date</div>
		</div>
		
		{% for listing in listings %}
		{% get_comment_count for listing as comment_count %}
		<div class="object_single">
			<div class="icon">
			{% if listing.selling %}
				<img src="{{ STATIC_URL }}images/ico_sell.png" />
			{% else %}
				<img src="{{ STATIC_URL }}images/ico_buy.png" />
			{% endif %}
			</div>
			<div class="title_desc">
				<a href="{% url market_single listing.id %}"><h4>{{ listing.title }}</h4></a>
				<p>{{ listing.description|truncatechars:80 }}</p>
			</div>
			<div class="category_contact">
				<h4>{{ listing.category.name }}</h4>
				<p>{{ listing.owner.username }}<br/>
				{{ listing.owner.email }}</p>
			</div>
			<div class="price_date">
				<h3>{% if listing.price %}${{ listing.price }}{% else %}--{% endif %}</h3>
				<h4>{{ listing.pub_date|date:"N j, Y" }}</h4>
				<a href="{% url market_single listing.id %}">{{ comment_count }} comments</a>
			</div>
		</div>
		<div class="object_single_image">
		{% if listing.image %}
			<img src="{{ MEDIA_URL }}{{ listing.image.thumbnail }}" />
		{% else %}
			<img src="{{ STATIC_URL }}images/no_photo.png" />
		{% endif %}
		</div>

		{% empty %}
		<span class="small_italics">Sorry, no listings are available right now!</span>
		{% endfor %}	
		
		<div class="pagination">
			{% if listings.has_previous %}
				<a href="?page={{ listings.previous_page_number }}" class="prev">
					<div class="arrow">&#9664;</div>Previous
				</a>
			{% endif %}
			{% for page_num in listings.paginator.page_range %}
				{% ifequal listings.number page_num %}
					<a href="?page={{ page_num }}" class="active page">{{ page_num }}</a>
				{% else %}
					<a href="?page={{ page_num }}" class="page">{{ page_num }}</a>
				{% endifequal %}
			{% endfor %}
			{% if listings.has_next %}	
				<a href="?page={{ listings.next_page_number }}" class="next">
					Next<div class="arrow">&#9654;</div>
				</a>
			{% endif %}
		</div>
	</div>
</div>

<div class="content_6 right">
	<div class="market_featured">
		<h2>Featured</h2>
		{% for featured in featured_list %}
			<a href="{% url market_single featured.id %}">
			{% if featured.image %}
				<img src="{{ MEDIA_URL }}{{ featured.image.thumbnail }}" />
			{% else %}
				<img src="{{ STATIC_URL }}images/no_photo.png" />
			{% endif %}<br/>
				{{ featured.title }}
			</a>
			<div class="asking">{% if featured.price %}Asking ${{ featured.price }}{% endif %}</div>
			<div class="details">
				{{ featured.pub_date|date:"N j, Y" }}<br/>
				{{ featured.owner.username }}
			</div>
		{% endfor %}	
	</div>
	<div class="object_categories">
		<h2>Categories</h2>
		{% for category, count in categories %}
			<a href="{% url market %}?category={{ category.id }}">{{ category|capfirst }} ({{ count }})</a>
		{% empty %}
		<em>No categories available!</em>
		{% endfor %}
	</div>
</div>
{% endblock %}