{% extends "loggedin_base.html" %}
{% load comments %}

{% block title %}My Life{% endblock %}

{% block content %}
<div class="content_15 left">
	<h2 class="blue">My Listings</h2>
	<p>This section allows you to keep track of any listings you’ve posted or responded to, as well as edit your existing ones.</p>
</div>
<div class="content_9 right">
	<a href="{% url GateSwap.collegemall.views.create_listing %}"><div class="create_listing_button">
		<div class="main">Create A Listing</div>
		<div class="arrow">&#9654;</div>
	</div></a>
</div>
<div class="content_15 left clearfix">
	<h2 class="green inline">Listings</h2>
	<div class="mylife_notification">
	{% if new_comment_count %}
		{{ new_comment_count }} new comments!
	{% endif %}
	{% if new_bid_count %}
		{{ new_bid_count }} new bids!
	{% endif %}
	{% if outbidded_count %}
		{{ outbidded_count }} new outbids!
	{% endif %}
	</div>
	{% for listing in listings %}
		<div class="mylife_listing">
			<div class="icon">
			{% if listing.selling %}
				<img src="{{ STATIC_URL}}images/ico_sell.png" />
			{% else %}
				<img src="{{ STATIC_URL}}images/ico_buy.png" />			
			{% endif %}
			</div>
			<div class="main">
				<a href="{% url market_single listing.id %}"><h4>{% if listing.selling %}Selling{% else %}Looking For{% endif %} - {{ listing.title }}</h4></a>
				<a href="{% url edit_listing type="listing" pk=listing.id %}" class="edit">Edit</a>
				<div style="float:right">&nbsp;</div>
				<a href="{% url delete_listing type="listing" pk=listing.id %}" onclick="confirm('Are you sure you want to delete this listing?');" class="edit">Delete</a>
				<p>{{ listing.description|truncatechars:140 }}</p>
				<div class="date">{{ listing.pub_date|date:"n.j.y - f A" }}</div>
				<div class="comments_title">Comments</div>
				{% get_comment_list for listing as comments %}
				{% for comment in comments %}
					<div class="comment">
						<p><strong>{{ comment.user.username }}</strong> {{ comment.comment }}</p>
						<div class="desc">
							<div class="time">{{ comment.submit_date|date:"n.j.y - f A" }}</div>
							<div class="respond" style="padding-left:10px"><a href="{% url delete_comment pk=comment.id %}" class="delete">Delete</a></div>
							<div class="respond"><a href="mailto:{{ comment.user.email }}?subject={{ "[GATESWAP] Your Gateswap comment on "|add:listing|urlencode }}">Respond</a></div>
						</div>
					</div>
				{% empty %}
				<span class="small_italics">There are no comments on this listing.</span>
				{% endfor %}						
			</div>
		</div>
	{% endfor %}
	{% for listing in help %}
		<div class="mylife_listing">
			<div class="icon">
				<img src="{{ STATIC_URL}}images/ico_help.png" />
			</div>
			<div class="main">
				<a href="{% url help_wanted listing.id %}"><h4>Help Wanted - {{ listing.title }}</h4></a>
				<a href="{% url edit_listing type="helpwanted" pk=listing.id %}" class="edit">Edit</a>
				<div style="float:right">&nbsp;</div>
				<a href="{% url delete_listing type="helpwanted" pk=listing.id %}" onclick="confirm('Are you sure you want to delete this listing?');" class="edit">Delete</a>
				<p>{{ listing.description|truncatechars:140 }}</p>
				<div class="date">{{ listing.pub_date|date:"n.j.y - f A" }}</div>
				<div class="comments_title">Comments</div>
				{% get_comment_list for listing as comments %}
				{% for comment in comments %}
					<div class="comment">
						<p><strong>{{ comment.user.username }}</strong> {{ comment.comment }}</p>
						<div class="desc">
							<div class="time">{{ comment.submit_date|date:"n.j.y - f A" }}</div>
							<div class="respond" style="padding-left:10px"><a href="{% url delete_comment pk=comment.id %}" class="delete">Delete</a></div>
							<div class="respond"><a href="mailto:{{ comment.user.email }}?subject={{ "[GATESWAP] Your Gateswap comment on "|add:listing|urlencode }}">Respond</a></div>
						</div>
					</div>
				{% empty %}
				<span class="small_italics">There are no comments on this listing.</span>
				{% endfor %}						
			</div>
		</div>
	{% endfor %}
	{% for listing in rideshare %}
		<div class="mylife_listing">
			<div class="icon">
			{% if listing.giving_ride %}
				<img src="{{ STATIC_URL }}images/ico_rideshare.png" />			
			{% else %}
				<img src="{{ STATIC_URL }}images/ico_rideshare_find.png" />
			{% endif %}
			</div>
			<div class="main">
				<a href="{% url rideshare listing.id %}"><h4>Rideshare - To {{ listing.to_location }}</h4></a>
				<a href="{% url edit_listing type="rideshare" pk=listing.id %}" class="edit">Edit</a>
				<div style="float:right">&nbsp;</div>
				<a href="{% url delete_listing type="rideshare" pk=listing.id %}" onclick="confirm('Are you sure you want to delete this listing?');" class="edit">Delete</a>
				<p>{{ listing.description|truncatechars:140 }}</p>
				<div class="date">{{ listing.pub_date|date:"n.j.y - f A" }}</div>
				<div class="comments_title">Comments</div>
				{% get_comment_list for listing as comments %}
				{% for comment in comments %}
					<div class="comment">
						<p><strong>{{ comment.user.username }}</strong> {{ comment.comment }}</p>
						<div class="desc">
							<div class="time">{{ comment.submit_date|date:"n.j.y - f A" }}</div>
							<div class="respond" style="padding-left:10px"><a href="{% url delete_comment pk=comment.id %}" class="delete">Delete</a></div>
							<div class="respond"><a href="mailto:{{ comment.user.email }}?subject={{ "[GATESWAP] Your Gateswap comment on rideshare to "|add:listing|urlencode }}">Respond</a></div>
						</div>
					</div>
				{% empty %}
				<span class="small_italics">There are no comments on this listing.</span>
				{% endfor %}						
			</div>
		</div>
	{% endfor %}
	{% for listing in lost_found %}
		<div class="mylife_listing">
			<div class="icon">
				<img src="{{ STATIC_URL}}images/ico_help.png" />
			</div>
			<div class="main">
				<a href="{% url lost_found listing.id %}"><h4>{% if listing.lost %}Lost{% else %}Found{% endif %} - {{ listing.title }}</h4></a>
				<a href="{% url edit_listing type="lostfoundposting" pk=listing.id %}" class="edit">Edit</a>
				<div style="float:right">&nbsp;</div>
				<a href="{% url delete_listing type="lostfoundposting" pk=listing.id %}" onclick="confirm('Are you sure you want to delete this listing?');" class="edit">Delete</a>
				<p>{{ listing.description|truncatechars:140 }}</p>
				<div class="date">{{ listing.pub_date|date:"n.j.y - f A" }}</div>
				<div class="comments_title">Comments</div>
				{% get_comment_list for listing as comments %}
				{% for comment in comments %}
					<div class="comment">
						<p><strong>{{ comment.user.username }}</strong> {{ comment.comment }}</p>
						<div class="desc">
							<div class="time">{{ comment.submit_date|date:"n.j.y - f A" }}</div>
							<div class="respond" style="padding-left:10px"><a href="{% url delete_comment pk=comment.id %}" class="delete">Delete</a></div>
							<div class="respond"><a href="mailto:{{ comment.user.email }}?subject={{ "[GATESWAP] Your Gateswap comment on "|add:listing.title|urlencode }}">Respond</a></div>
						</div>
					</div>
				{% empty %}
				<span class="small_italics">There are no comments on this listing.</span>
				{% endfor %}						
			</div>
		</div>
	{% endfor %}										
</div>
<div class="content_9 right">
	<div class="mylife_featured_listing">
		<h2 class="green">Featured Listing</h2>
		{% if featured_list.0.image %}
			<img src="{{ MEDIA_URL }}{{ featured_list.0.image.thumbnail }}" />
		{% else %}
			<img src="{{ STATIC_URL }}images/no_photo.png" />
		{% endif %}
		<a href="{% url market_single featured_list.0.id %}"><h4>{{ featured_list.0.title }}</h4></a>
		<strong>{% if featured_list.0.price %}${{ featured_list.0.price }}{% else %}--{% endif %}</strong>
		<div class="details">
			{{ featured_list.0.pub_date|date:"N j, Y" }}<br/>
			{{ featured_list.0.owner.username }}
		</div>							
	</div>
	<div class="mylife_top_listings">
		<h2 class="green">Top Listings</h2>
		{% for featured in featured_list %}
		<div class="listing">
			<div class="main">
				<a href="{% url market_single featured.id %}"><strong>{{ featured.title }}</strong></a>
				<p>{{ featured.description|truncatechars:140 }}</p>
			</div>
			<div class="price">
				{% if featured.price %}${{ featured.price }}{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--{% endif %}
			</div>
		</div>
		{% endfor %}							
	</div>
</div>
{% endblock %}