{% extends "loggedin_base.html" %}

{% block title %}My Campus{% endblock %}

{% block content %}
<div class="content_15 left">
	<h2 class="blue">My Campus &mdash; {{ school.name }}</h2>
	<p>Stay in the know regarding all the most engrossing and engaging events going on around campus, and get the low down on any relevant club information you may be curious about.</p>
</div>
<div class="content_9 right">
	<a href="{% url create_listing %}"><div class="create_listing_button">
		<div class="main">Create A Listing</div>
		<div class="arrow">▶</div>
	</div></a>						
</div>				
<div class="content_25 left">
	<br/>
	<h2 class="green">Calendar of Events</h2>
	<div class="mylife_calendar" style="height: 500px; overflow: scroll;">
		{% for event in events %}
		<p>
			<a href="{% if event.link %}event.link{% else %}http://calendar.colgate.edu/{% endif %}" target="_blank"><h3 class="blue">{{ event.startdate|date:"n.j.y" }} &mdash; {{ event.title|safe }}</h3></a>
			<p>
				{% if event.starttime and event.endtime %}
					<strong>Time:</strong> {{ event.starttime }} &ndash; {{ event.endtime }}<br />
				{% endif %}
				{% if event.location %}
					<strong>Place:</strong> {{ event.location|safe }}<br />
				{% endif %}
			</p>
			<p>{{ event.description|safe }}</p>
		</p>
		{% empty %}
		No events have been listed for {{ school.name }} yet!
		{% endfor %}				
	</div>
</div>
<div class="content_10 right">
	<!--<div class="rounded_box">
		<h2 class="green">Clubs on Campus</h2>
		<p><strong style="display: block; font-size: 14px">Student Government</strong>
		<br/>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p><strong style="display: block; font-size: 14px">Student Government</strong>
		<br/>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p><strong style="display: block; font-size: 14px">Student Government</strong>
		<br/>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>-->				
</div>
{% endblock %}