<html>
	<head>
		<title>
			Gateswap - {% block title %}Privacy Policy{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins.css" />
		<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.8.0.min.js"></script>	
		<script type="text/javascript" src="{{ STATIC_URL }}scripts.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}plugins.js"></script>
	</head>
	<body style="padding: 5px">
	{% block content %}
		<div class="bubble_content">
			<h2>Privacy Policy</h2>
			<p>GateSwap, LLC, a New York limited liability company (“GateSwap”), has established this privacy policy to explain to you how your information is protected, collected and used, which may be updated by GateSwap from time to time. GateSwap will provide notice of materially significant changes to this privacy policy by posting notice on the GateSwap site.</p>
			<ol>
				<li>
					<h3>Protecting your privacy</h3>
					<ul>
						<li>Account information is password-protected. Keep your password safe.</li>
						<li>Forums use basic webserver authentication. Close your browser to log out.</li>
						<li>GateSwap does not knowingly collect any information from persons under the age of 13. If GateSwap learns that a posting is by a person under the age of 13, GateSwap will remove that post.</li>
						<li>GateSwap, or people who post on GateSwap, may provide links to third party websites, which may have different privacy practices. We are not responsible for, nor have any control over, the privacy policies of those third party websites, and encourage all users to read the privacy policies of each and every website visited.</li>
					</ul>
				</li>
				<li>
					<h3>Data we collect</h3>
					<ul>
						<li>We collect your email address, for purposes such as sending self-publishing and confirmation emails, authenticating user accounts, providing subscription email services, registering for forums, etc.</li>
						<li>For paid job postings, we collect contact information, such as name(s), phone/fax number(s), and address for billing purposes.</li>
						<li>We sometimes collect your phone number for account authentication purposes, and may transmit it to a third party service for tele-robotic verification.</li>
						<li>GateSwap does not store credit card information. Credit card transactions are transmitted to a financial gateway, and we endeavor to protect the security of your payment information during transmission by using Secure Sockets Layer (SSL) technology.</li>
						<li>We may collect personal information if you provide it in feedback or comments, post it on our classifieds or interactive forums, or if you contact us directly. Please do not post any personal information on GateSwap's forums or classifieds that you expect to keep private.</li>
						<li>Our web logs collect standard web log entries for each page served, including your IP address, page URL, and timestamp. Web logs help us to diagnose problems with our server, to administer the GateSwap site, and to otherwise provide our service to you.</li>
					</ul>
				</li>
				<li>
					<h3>Data we store</h3>
					<ul>
						<li>All classified and forum postings are stored in our database, even after "deletion," and may be archived elsewhere.</li>
						<li>Our web logs and other records are stored indefinitely.</li>
						<li>Registered job posters can access and update their account information through the account homepage.</li>
						<li>Although we make good faith efforts to store the information in a secure operating environment that is not available to the public, we cannot guarantee complete security.</li>
					</ul>
				</li>
				<li>
					<h3>Archiving and display of GateSwap postings by search engines and other sites</h3>
					<p>Search engines and other sites not affiliated with GateSwap – including archive.org, google.com, and groups.yahoo.com – may archive or otherwise make available GateSwap postings.</p>
				</li>
				<li>
					<h3>Circumstances in which GateSwap may release information</h3>
					<ul>
						<li>GateSwap may disclose information about its users if required to do so by law or in the good faith belief that such disclosure is reasonably necessary to respond to subpoenas, court orders, or other legal process.</li>
						<li>GateSwap may also disclose information about its users to law enforcement officers or others, in the good faith belief that such disclosure is reasonably necessary to: enforce our Terms of Use; respond to claims that any posting or other content violates the rights of third-parties; or protect the rights, property, or personal safety of GateSwap, its users or the general public.</li>
					</ul>
				</li>
				<li>
					<h3>International Users</h3>
					<p>By visiting our web site and providing us with data, you acknowledge and agree that due to the international dimension of GateSwap we may use the data collected in the course of our relationship for the purposes identified in this policy or in our other communications with you, including the transmission of information outside your resident jurisdiction. In addition, please understand that such data may be stored on servers located in the United States. By providing us with your data, you consent to the transfer of such data.</p>
				</li>
				<li>
					<h3>Feedback</h3>
					<p>We welcome your feedback on this document in our <a href="">contact form</a>.</p>
				</li>				
			</ol>
		</div>
	{% endblock %}
	</body>
</html>