{% extends "loggedin_base.html" %}
{% load comments %}

{% block title %}{% endblock %}

{% block content %}
<div class="content_15 left">					
	<h2>Services: Rideshare</h2>
	<p>Get where you need to go in the most convenient, eco-friendly way possible.</p>
	<div class="single_listing_top">
		<div class="title">
			<h4>Title:</h4><br/>
			<h2 class="blue">{% if listing.giving_ride %}Giving{% else %}Looking For{% endif %} a Ride: To {{ listing.to_location }}</h2>								
		</div>
		<div class="icon">
		{% if listing.giving_ride %}
			<img src="{{ STATIC_URL }}images/ico_rideshare.png" />
		{% else %}
			<img src="{{ STATIC_URL }}images/ico_rideshare_find.png" />		
		{% endif %}
		</div>
		<div class="main">
			<div class="left">
				<div class="category">
					<h4>Category:</h4> Need a ride
				</div>
				<div class="about">
					<h4>Details:</h4><br/>
					{{ listing.details }}
				</div>	
			</div>
			<div class="right">
				<div class="date">
					<h4>Date:</h4> {{ listing.pub_date|date:"N j, Y" }}
				</div>								
				<div class="contact">
					<h4>Contact information:</h4><br/>
					{{ listing.owner.username }}<br/>
					{{ listing.owner.email }}
				</div>
			</div>
		</div>
	</div>
	<div class="services_comments clearfix">
		{% get_comment_count for listing as comment_count %}
		<h2 class="orange">Comments</h2><div class="comment_count">{{ comment_count }}</div>
		{% get_comment_list for listing as comments %}
		{% for comment in comments %}
		<div class="comment">
			<h4>{% ifequal comment.user.id user.id %}
					{{ comment.user.username }} (<em>seller</em>)
				{% else %}
					{{ comment.user.username }}
				{% endifequal %}
			</h4> {{ comment.comment }}
			<div class="details">
				{{ comment.submit_date|date:"n.j.y - f A" }}
			</div>
		</div>
		{% empty %}
		<div class="small_italics comment"><br />No comments yet!</div>
		{% endfor %}
	</div>
	<div class="services_add_comment">
		<h2>Add Comment</h2>
		{% if listing.fulfilled %}
		<h3>The listing has been marked as fulfilled, and no comments may be posted.</h3>
		{% else %}
		<form action="{% comment_form_target %}" method="post">
			{% csrf_token %}
			{% render_comment_form for listing %}
			<input type="hidden" name="next" value="{% url rideshare listing.id %}" />
			<input type="submit" name="post" value="Submit" class="submit_comment" />
		</form>
		{% endif %}
	</div>
</div>
<div class="content_9 right">
	<a href=""><div class="create_listing_button">
		<div class="main">Create A Listing</div>
		<div class="arrow">&#9654;</div>
	</div></a>													
	<div class="also_of_interest">
		<h2>May Also Be of Interest</h2>
		{% for featured in featured_list %}
		<div class="item">								
			<div class="details">
				<h4>{% if featured.giving_ride %}Giving{% else %}Need{% endif %} a Ride</h4>
				<strong>To:</strong> {{ featured.to_location }}<br/>
				<strong>From:</strong> {{ featured.from_location }}
			</div>
			<div class="comments_and_price">
				<h4>{{ featured.pub_date|date:"N j, Y" }}</h4>
				{% get_comment_count for featured as comment_count %}
				<div class="comments"><a href="">{{ comment_count }} comments</a></div>
				<div class="price">${{ featured.cost }}</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}