{% extends "loggedin_base.html" %}
{% load comments %}

{% block title %}Rideshare{% endblock %}

{% block content %}
<div class="content_15 left">
	<h2>Services: Rideshare</h2>
	<p>Get where you need to go in the most convenient, eco-friendly way possible.</p>							
</div>
<div class="content_9 right">
	<a href="{% url create_listing %}"><div class="create_listing_button">
		<div class="main">Create A Listing</div>
		<div class="arrow">&#9654;</div>
	</div></a>						
</div>
<div class="content_24 clearfix">
	<div class="full_width_heading">
		<div class="title_desc">Type</div>
		<div class="detail_1">To</div>
		<div class="detail_2">From</div>
		<div class="detail_3">When</div>
		<div class="detail_4">Price and Contact</div>
	</div>					
	{% for listing in listings %}
	<div class="full_width_listing">
		<div class="main">
			{% if listing.giving_ride %}
				<img src="{{ STATIC_URL }}images/ico_rideshare.png" />			
			{% else %}
				<img src="{{ STATIC_URL }}images/ico_rideshare_find.png" />
			{% endif %}
			<div class="title_desc">
				<a href="{% url rideshare listing.id %}"><h4>{% if listing.giving_ride %}Giving{% else %}Need{% endif %} a Ride</h4></a>
				<p>{{ listing.details|truncatechars:100 }}</p>
			</div>
			<div class="detail_1">{{ listing.to_location }}</div>
			<div class="detail_2">{{ listing.from_location }}</div>
			<div class="detail_3">{{ listing.date|date:"N j, Y" }}</div>
			<div class="contact">
				<strong>{% if listing.cost %}${{ listing.cost }}{% else %}---{% endif %}</strong><br/>
				{% get_comment_count for listing as comment_count %}
				<a href="{% url rideshare listing.id %}">{{ comment_count }} comments</a>
			</div>
		</div>
		<a href="{% url rideshare listing.id %}"><div class="arrow">&#9654;</div></a>
	</div>
	{% empty %}
	<em>No rideshare postings available!</em>
	{% endfor %}																			
</div>
{% endblock %}