{% extends "loggedin_base.html" %}
{% load comments %}

{% block title %}Services{% endblock %}

{% block content %}
<div class="content_15 left">	
	<h2>Services</h2>
	<p>Getting stuff done is easier with a helping hand. Look for opportunities to help or get help from your peers, give or get a ride to where you need to go, and find or return lost items.</p>
</div>
<div class="content_9 right">
	<a href="{% url GateSwap.collegemall.views.create_listing %}"><div class="create_listing_button">
		<div class="main">Create A Listing</div>
		<div class="arrow">&#9654;</div>
	</div></a>								
</div>
<div class="content_8 left clearfix">
	<h2 class="green">Help Wanted</h2>
	<div class="services">
	{% for post in help %}
		<div class="listing">
			<a href="{% url help_wanted post.id %}"><h4>{{ post.title }}</h4></a>
			<p>{{ post.description|truncatechars:100 }}</p>
			<div class="details">
				Posted by {{ post.owner.username }}<br/>{{ post.pub_date|date:"n.j.y - f A" }}
			</div>
			{% get_comment_count for post as comment_count %}
			<div class="comments"><a href="">{{ comment_count }} comments</a></div>			
			<div class="comment_link"><a href="">Comment</a></div>
			<div class="clearfix"></div>
		</div>
	{% empty %}
		<span class="small_italics">Sorry, no help wanted postings are available right now!</span>
	{% endfor %}
	</div>
	<div class="services_view_all"><a href="{% url help_wanted %}">view all listings</a></div>
</div>
<div class="content_8 left">
	<h2 class="green">Rideshare</h2>
	<div class="services">
	{% for post in rideshare %}
		<div class="listing">
			<a href="{% url rideshare post.id %}"><h4>To {{ post.to_location }} - {{ post.date|date:"N j"}}, {{ post.time|date:"f A" }}</h4></a>
			<p>{{ post.details|truncatechars:100 }}</p>
			<div class="details">
				Posted by {{ post.owner.username }}<br/>{{ post.pub_date|date:"n.j.y - f A" }}
			</div>
			{% get_comment_count for post as comment_count %}
			<div class="comments"><a href="">{{ comment_count }} comments</a></div>
			<div class="comment_link"><a href="">Comment</a></div>
			<div class="clearfix"></div>
		</div>
	{% empty %}
		<span class="small_italics">Sorry, no rideshare postings are available right now!</span>
	{% endfor %}									
	</div>
	<div class="services_view_all">
		<a href="{% url rideshare %}">view all listings</a>
	</div>						
</div>
<div class="content_8 right">
	<h2 class="green">Lost & Found</h2>
	<div class="services">
		{% for post in lost_found %}
		<div class="listing">
			<a href="{% url lost_found post.id %}"><h4>{{ post.title }}</h4></a>
			<p>{{ post.description|truncatechars:100 }}</p>
			<div class="details">
				Posted by {{ post.owner.username }}<br/>{{ post.pub_date|date:"n.j.y - f A" }}
			</div>
			{% get_comment_count for post as comment_count %}
			<div class="comments"><a href="">{{ comment_count }} comments</a></div>
			<div class="comment_link"><a href="">Comment</a></div>
			<div class="clearfix"></div>
		</div>
	{% empty %}
		<span class="small_italics">Sorry, no lost & found postings are available right now!</span>
	{% endfor %}
	</div>
	<div class="services_view_all">
		<a href="{% url lost_found %}">view all listings</a>
	</div>						
</div>
{% endblock %}