{% extends "loggedin_base.html" %}

{% block title %}{{ headline }}{% endblock %}

{% block content %}
<h2>{{ headline }}</h2>
<p>{{ message }}</p>
<br /><br />
<div><a href="{% url home %}">Home</a>&nbsp;|&nbsp;<a href="{% url my_life %}">My Listings</a>&nbsp;|&nbsp;<a href="{% url market %}">Market</a>&nbsp;|&nbsp;<a href="{% url mycampus_main %}">My Campus</a>&nbsp;|&nbsp;<a href="{% url services %}">Services</a>&nbsp;|&nbsp;<a href="{% if backlink %}javascript:history.back();{% else %}javascript:history.back();{% endif %}">Back</a></div>
{% endblock %}