<html>
	<head>
		<title>
			Gateswap - {% block title %}Terms + Conditions{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins.css" />
		<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.8.0.min.js"></script>	
		<script type="text/javascript" src="{{ STATIC_URL }}scripts.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}plugins.js"></script>
	</head>
	<body style="padding: 5px">
	{% block content %}
		<div class="bubble_content">
			<h2>Gateswap Terms of Use</h2>
			<p><em>Last updated: January 28, 2013</em></p>
			<ol>
				<li><h3>GENERAL</h3>
				<p>GateSwap, LLC, a New York limited liability company ("GS"), provides services through its websites, programs and computer servers including but not limited to classified advertising, forums, and email forwarding. (All such services are referred to collectively herein as "GateSwap") By accessing or using GateSwap, you are a "user" and you accept and agree to the terms below (the "Terms of Use" or "TOU") as a legal contract between you and GS. The TOU include and incorporate additional terms ("guidelines") applicable to particular categories or services available on GateSwap as set forth to users upon access to such categories or services. GS may post changes to the TOU at any time, and any such changes will be applicable to all subsequent access to or use of GateSwap.</p>
				<p>If you do not accept and agree to all provisions of the TOU, now or in the future, you may reject the TOU by immediately terminating all access and use of GateSwap, in which case any continuing access or use of GateSwap is unauthorized.</p>
				<p>You are also required to comply with, and to ensure compliance with, all laws, ordinances and regulations applicable to your activities on GateSwap.</p>
				<p>GateSwap is intended and designed for users 13 years of age and older, and access or use by anyone younger is not authorized.
				The TOU grant you a limited, revocable, nonexclusive license to access GateSwap and use GateSwap, in whole or in part, including but not limited to GS intellectual property therein, solely in compliance with the TOU.</p>
				<p>"GATESWAP" and "GS" are trademarks of GS and are protected by United States and international laws. The TOU do not authorize you to use "GATESWAP," "GS" or any similar or related marks  for any use pertaining to classified advertising, internet advertising, social networks, online forums, online communication services or any similar or related use, or any other use that is likely to cause confusion on the part of, to cause mistake by or to deceive the public as to any affiliation, connection, association, origin, sponsorship, approval or endorsement by or with GS.</p></li>
				<li><h3>MODERATION</h3>
				<p>GS has the right, but not the obligation, to regulate content (which includes but is not limited to postings, text, code, images, video, binary files, ads, accounts, account information, flags, emails, messages and any other user communications ("content")) posted to, stored on or transmitted via GateSwap by any user (or any other third party in any manner); to regulate conduct (including but not limited to any authorized or unauthorized access to or use of GateSwap) by any user (or any other third party in any manner); and to enforce the TOU, for any reason and in any manner or by any means that GS, in its sole discretion, deems necessary or appropriate (including but not limited to automated and manual screening, blocking, filtering, exclusion from index pages, exclusion from search results, requiring the use of an application programming interface (API), requiring the use of a bulk posting interface, authorization, verification, and the deletion and/or termination of content, accounts and/or all or any use or access). GS may, in its sole discretion and without notice, start, stop or modify any regulation or enforcement measures at any time. GS action or inaction to regulate content or conduct or to enforce against any potential violation of the TOU by any user (or any other third party) does not waive GS's right to implement or not implement regulation or enforcement measures with respect to any subsequent or similar content, conduct or potential TOU violation.</p>
				<p>You also understand and agree that any action or inaction by GS or any of its directors, officers, stockholders/members, employees, consultants, agents or representatives (collectively, "GS Representatives") to prevent, restrict, redress or regulate content, or to implement other enforcement measures against any content, conduct or potential TOU violation is undertaken voluntarily and in good faith, and you expressly agree that neither GS nor any GS Representative shall be liable to you or anyone else for any action or inaction to prevent, restrict, redress, or regulate content, or to implement other enforcement measures against any content, conduct or potential violation of the TOU.</p>
				<p>Although GS Representatives may moderate content, conduct and TOU compliance on GateSwap at GS's discretion, GS Representatives have no authority to make binding commitments, promises or representations to anyone that they or anyone else on behalf of GS will "take care" of any alleged problem or complaint, or that they or anyone else on behalf of GS will otherwise stop, cure or prevent any problem, content, conduct or purported TOU violation from occurring or recurring. Accordingly, you further agree that any representation (written or verbal) by any GS Representative (or by anyone else acting on behalf of GS or by anyone purportedly acting on behalf of GS) that GS (including but not limited to any GS Representative, anyone else acting on behalf of GS, or anyone purportedly acting on behalf of GS) would or would not prevent, restrict, redress or regulate content (including, without limitation, screen, block, moderate, review, remove, terminate, delete, edit or otherwise stop, cure or exclude any content), or to implement other enforcement measures against any content, conduct or potential or purported TOU violation is superseded by this provision and is nonbinding and unenforceable. Specifically, you agree that GS, GS Representatives and anyone else authorized to act on behalf of GS shall in no circumstance be liable as a result of any representation that GS, a GS Representative or anyone else on behalf of GS would or would not restrict or redress any content, conduct or potential or purported TOU violation. This paragraph may not be modified, waived or released except by a written agreement, dated and signed by GS's Chief Executive Officer and dated and signed by the individual or entity to whom the modification, waiver or release is granted.
				GS also has the right in its sole discretion to limit, modify, interrupt, suspend or discontinue all or any portions of GateSwap at any time without notice. GS and GS Representatives shall not be liable for any such limitations, modifications, interruptions, suspensions or discontinuance, or any purported losses, harm or damages arising from or related thereto.<p></li>
				<li><h3>CONTENT AND CONDUCT</h3>
				<ul><li>a. Content
				<p>GS does not control, is not responsible for and makes no representations or warranties with respect to any user content. You are solely responsible for your access to, use of and/or reliance on any user content. You must conduct any necessary, appropriate, prudent or judicious investigation, inquiry, research and due diligence with respect to any user content.</p>
				<p>You are also responsible for any content that you post or transmit and, if you create an account, you are responsible for all content posted or transmitted through or by use of your account.</p>
				<p>Content prohibited from GateSwap includes but is not limited to: (1) illegal content; (2) content in facilitation of the creation, advertising, distribution, provision or receipt of illegal goods or services; (3) offensive content (including, without limitation, defamatory, threatening, hateful or pornographic content); (4) content that discloses another's personal, confidential or proprietary information; (5) false or fraudulent content (including but not limited to false, fraudulent or misleading responses to user ads transmitted via GateSwap); (6) malicious content (including, without limitation, malware or spyware); (7) content that offers, promotes, advertises, or provides links to posting or auto-posting products or services, account creation or auto-creation products or services, flagging or auto-flagging products or services, bulk telephone numbers, or any other product or service that if utilized with respect to GateSwap would violate these TOU or GS's other legal rights; and (8) content that offers, promotes, advertises or provides links to unsolicited products or services. Other content prohibitions are set forth in guidelines for particular categories or services on GateSwap and all such prohibitions are expressly incorporated into these TOU as stated in section 1 above.</p>
				<p>You automatically grant and assign to GS, and you represent and warrant that you have the right to grant and assign to GS, a perpetual, irrevocable, unlimited, fully paid, fully sub-licensable (through multiple tiers), worldwide license to copy, perform, display, distribute, prepare derivative works from (including, without limitation, incorporating into other works) and otherwise use any content that you post. You also expressly grant and assign to GS all rights and causes of action to prohibit and enforce against any unauthorized copying, performance, display, distribution, use or exploitation of, or creation of derivative works from, any content that you post (including but not limited to any unauthorized downloading, extraction, harvesting, collection or aggregation of content that you post).</p>
				<p>You agree to indemnify and hold GS and GS Representatives harmless from and against any third-party claim, cause of action, demand or damages related to or arising out of: (a) content that you post or transmit (including but not limited to content that a third-party deems defamatory or otherwise harmful or offensive); (b) activity that occurs through or by use of your account (including, without limitation, all content posted or transmitted); (c) your use of or reliance on any user content; and (d) your violation of the TOU. This indemnification obligation includes payment of any attorneys' fees and costs incurred by GS or GS Representatives.</li>
				<p><li>b. Conduct
				<p>GS does not control, is not responsible for and makes no representations or warranties with respect to any user or user conduct. You are solely responsible for your interaction with or reliance on any user or user conduct. You must perform any necessary, appropriate, prudent or judicious investigation, inquiry, research and due diligence with respect to any user or user conduct.</p>
				<p>You are also responsible for your own conduct and activities on, through or related to GateSwap, and, if you create an account on GateSwap, you are responsible for all conduct or activities on, through or by use of your account.</p>
				<p>You agree to indemnify and hold GS and GS Representatives harmless from and against any third-party claim, cause of action, demand or damages related to or arising out of your own conduct or activities on, through or related to GateSwap or GS, and related to or arising out of any conduct or activities on, through or by use of your GateSwap account, if any. This indemnification obligation includes payment of any attorneys' fees and costs incurred by GS or GS Representatives.</p></li></ul></li>
				<li><h3>POSTING AND ACCOUNTS</h3>
				<p>This section 4 applies to all uses and users of GateSwap, unless GS has specifically authorized an exception to a particular term for a particular user in a written agreement. GS has sole and absolute discretion to authorize or deny any exception or exceptions to the terms in this section 4.</p>
				<ul><li>Postings</li>
				<p>GateSwap is intended and designed as a local service specific to a particular university or college. A user may post content only to the single specific university or college offered on GateSwap (see [______________]) for which that content is most relevant. The same or substantially similar content (for example, an ad for a particular item or service, a particular offer, a particular message or a particular comment) may not be posted to or communicated via more than one such university or college. Content that is equally relevant to multiple (i.e., more than one) university or college areas should not be posted on GateSwap.</p>
				<p>A user must be a member of a community related to a particular university or college in order to post content related to such university or college.</p>
				<p>The same or substantially similar content may not be posted in more than one GateSwap category. A user may post content only in the single GateSwap category to which it is most relevant, and must not post content to inappropriate categories. </p>
				<p>A user may post the same or substantially similar content no more than once every 48 hours.</p>
				<p>Where a GateSwap category provides specific subcategories for posts by particular types of users, a user may post content only in the single user sub-category most accurate for that user. In particular, no user acting as a broker, agent or dealer may post in any "by owner" category.</p>
				<p>Users may not circumvent any technological measure implemented by GS to restrict the manner in which content may be posted on GateSwap or to regulate the manner in which content (including but not limited to email) may be transmitted to other users. This prohibition includes, without limitation, a ban on the use of multiple email addresses (created via an email address generator or otherwise); the use of multiple IP addresses (via proxy servers, modem toggling, or otherwise); CAPTCHA circumvention, automation or outsourcing; multiple and/or fraudulent GateSwap accounts, including phone-verified accounts; URL shortening, obfuscation or redirection; use of multiple phone lines or phone forwarding for verification; and content obfuscation via HTML techniques, printing text on images, inserting random text or content "spinning."</p>
				<p>It is expressly prohibited for any third party to post content to GateSwap on behalf of another. Users must post content only on their own behalf, and may not permit, enable, induce or encourage any third party to post content for them.</p>
				<p>It is expressly prohibited to post content to GateSwap using any automated means. Users must post all content personally and manually through all steps of the posting process. It is also expressly prohibited for any user to develop, offer, market, sell, distribute or provide an automated means to perform any step of the posting process (in whole or in part). Any user who develops, offers, markets, sells, distributes or provides an automated means to perform any step of the posting process (in whole or in part) shall be responsible and liable to GS for each instance of access to GateSwap (by any user or other third party) using that automated means.</p>
				<p>Affiliate marketing is expressly prohibited on GateSwap. Users may not post content or communicate with any GateSwap user for purposes of affiliate marketing or in connection with any affiliate marketing system, scheme or program in any manner or under any circumstance.</p>
				<li>Accounts</li>
				<p>A user may maintain and use no more than one account to post content. A user specifically may not create or use additional accounts for the purpose of circumventing technological restrictions (security measures) in the posting process or otherwise for posting content in violation of the TOU.</p>
				<p>A user may create an account only on his/her own behalf. A user must not permit, enable, induce or encourage others to create accounts for him/her. The creation of accounts for others is expressly prohibited.</p>
				<p>A user must only use his/her own account, and may not use any account of another.</p>
				<p>The purchase and sale of accounts is expressly prohibited.</p>
				<p>A user must create his/her account personally and manually and may not create accounts by any automated means. Without limitation, this includes the obligation that the user personally and manually solves any CAPTCHA challenge in the account creation process. Further, a user must create an account using his/her own valid email address. The creation of an account using an email address that is not the user's own is expressly prohibited. The circumvention of any technological restriction or security measure in the account creation process is also expressly prohibited.</p>
				<li>Flagging</li>
				<p>A user shall not "flag" (or otherwise seek removal of) content on GateSwap without a personal, good-faith belief that the content violates the TOU. A user may flag content only on his/her own behalf. A user must not permit, enable, induce or encourage others to flag content for them. A user must not flag content for others.</p>
				<p>A user may flag a specific item of content only once.</p>
				<p>A user flagging content must do so manually and may not employ any automated means, products (including, without limitation, software programs) or services to flag content. A user must not circumvent any technological restrictions (security measures) in the flagging process. Without limitation, this prohibition includes a ban on the use of multiple IP addresses for flagging (by use of proxy servers or any means whatsoever).</p></ul>
				<li><h3>UNAUTHORIZED ACCESS AND ACTIVITIES</h3>
				<p>This section 5 applies to all uses and users of GateSwap, unless GS has specifically authorized an exception to a particular term for a particular user in a written agreement. GS has sole and absolute discretion to authorize or deny any exception or exceptions to the terms in this section 5.</p>
				<p>To maintain the integrity and functionality of GateSwap for its users, access to GateSwap and/or activities related to GateSwap that are harmful to, inconsistent with or disruptive of GateSwap and/or its users' beneficial use and enjoyment of GateSwap are expressly unauthorized and prohibited. For example, without limitation:</p>
				<p>The collection of GateSwap users' personal information (including but not limited to email addresses, IP addresses and telephone numbers) is not allowed for any purpose.</p>
				<p>Any copying, aggregation, display, distribution, performance or derivative use of GateSwap or any content posted on GateSwap whether done directly or through intermediaries (including but not limited to by means of spiders, robots, crawlers, scrapers, framing, iframes or RSS feeds) is prohibited. As a limited exception, general purpose Internet search engines and noncommercial public archives will be entitled to access GateSwap without individual written agreements executed with GS that specifically authorize an exception to this prohibition if, in all cases and individual instances: (a) they provide a direct hyperlink to the relevant GateSwap website, service, forum or content; (b) they access GateSwap from a stable IP address using an easily identifiable agent; and (c) they comply with GS's robots.txt file; provided however, that GS may terminate this limited exception as to any search engine or public archive (or any person or entity relying on this provision to access GateSwap without their own written agreement executed with GS), at any time and in its sole discretion, upon written notice, including, without limitation, by email notice.</p>
				<p>Any access to or use of GateSwap to design, develop, test, update, operate, modify, maintain, support, market, advertise, distribute or otherwise make available any program, application or service (including, without limitation, any device, technology, product, computer program, mobile device application, website, or mechanical or personal service) that enables or provides access to, use of, operation of or interoperation with GateSwap (including, without limitation, to access content, post content, cross-post content, re-post content, respond or reply to content, verify content, transmit content, create accounts, verify accounts, use accounts, circumvent and/or automate technological security measures or restrictions, or flag content) is prohibited. This prohibition specifically applies but is not limited to software, programs, applications and services for use or operation on or by any computer and/or any electronic, wireless and/or mobile device, technology or product that exists now or in the future.</p>
				<p>If you access GateSwap or copy, display, distribute, perform or create derivative works from GateSwap webpages or other GS intellectual property in violation of the TOU or for purposes inconsistent with the TOU, your access, copying, display, distribution, performance or derivative work is unauthorized. Circumvention of any technological restriction or security measure on GateSwap or any provision of the TOU that restricts content, conduct, accounts or access is expressly prohibited. For purposes of this paragraph, you agree that cached copies of GateSwap webpages on your computer or computer server constitute "copies" under the Copyright Act, 17 U.S.C. § 101. For purposes of this paragraph, you further agree that CAPTCHAs and telephone verification are "technological measures" that effectively control access to copyright-protected components and rights of GS pursuant to 17 U.S.C. § 1201.</p>
				<p>Any effort to decompile, disassemble or reverse engineer all or any part of GateSwap in order to identify, acquire, copy or emulate any source code or object code is expressly prohibited.</p>
				<p>Any activities (including but not limited to posting voluminous content) that are inconsistent with use of GateSwap in compliance with the TOU or that may impair or interfere with the integrity, functionality, performance, usefulness, usability, signal-to-noise ratio or quality of all or any part of GateSwap in any manner are expressly prohibited.</p>
				<p>Any attempt (whether or not successful) to engage in, or to enable, induce, encourage, cause or assist anyone else to engage in, any of the above unauthorized and prohibited access and activities is also expressly prohibited and is a violation of the TOU.</li></p>
				<li><h3>USER COMMUNICATIONS, TRANSACTIONS, INTERACTIONS, DISPUTES AND RELATIONS</h3>
				<p>GS and GS Representatives are not parties to, have no involvement or interest in, make no representations or warranties as to, and have no responsibility or liability with respect to any communications, transactions, interactions, disputes or any relations whatsoever between you and any other user, person or organization ("your interactions with others"). </p>
				<p>You must conduct any necessary, appropriate, prudent or judicious investigation, inquiry, research or due diligence with respect to your interactions with others.</p>
				<p>You agree to indemnify and hold GS and GS Representatives harmless from and against any third-party claim, cause of action, demand or damages related to or arising out of your interactions with others. This indemnification obligation includes payment of any attorneys' fees and costs incurred by GS or GS Representatives.</p></li>
				<li><h3>FEES</h3>
				<p>GS may charge a fee to post content or for other features, products, services or licenses. You are responsible to GS for any fees applicable to content that you post or other features, products, services or licenses you purchase or that are purchased through your account. You authorize GS, or its designated payment processor, to charge your specified credit card, debit card or other payment method for such fees.</p>
				<p>Unless otherwise specified, all fees are in United States dollars and all charges will be made in United States dollars. Any applicable sales or other taxes are additional to the stated fee. Currency exchange settlements and foreign transaction fees are based on your agreement with your credit card or other payment method provider.</p>
				<p>Except as required by law, all fees are nonrefundable, including, without limitation, in situations where paid posts are removed by GS or by community flagging. Payments and purchases may not be canceled by the user, except as required by law. However, GS reserves the right to refuse or terminate any purchase or attempted purchase at any time in its sole discretion. You understand and agree that if you authorize a payment transaction with your credit card, debit card or other payment method, but your charge is rejected for any reason, there may be a hold on your use of that transaction amount for several days.</p>
				<li><h3>DISCLAIMERS</h3>
				<p>YOUR ACCESS TO, USE OF AND RELIANCE ON GATESWAP AND CONTENT ACCESSED THROUGH GATESWAP IS ENTIRELY AT YOUR OWN RISK. GATESWAP (INCLUDING, WITHOUT LIMITATION, THE WEBSITES, PROGRAMS, SERVICES, FORUMS AND CONTENT ACCESSED THROUGH THE WEBSITES, PROGRAMS, SERVICES AND FORUMS) IS PROVIDED ON AN "AS IS" OR "AS AVAILABLE" BASIS WITHOUT ANY WARRANTIES OF ANY KIND.</p>
				<p>ALL EXPRESS AND IMPLIED WARRANTIES (INCLUDING, WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS) ARE EXPRESSLY DISCLAIMED.</p>
				<p>WITHOUT LIMITING THE FOREGOING, GS ALSO DISCLAIMS ALL WARRANTIES FOR OR WITH RESPECT TO: (a) THE SECURITY, RELIABILITY, TIMELINESS, ACCURACY AND PERFORMANCE OF GATESWAP AND CONTENT ACCESSED THROUGH GATESWAP; (b) COMPUTER WORMS, VIRUSES, SPYWARE, ADWARE AND ANY OTHER MALWARE, MALICIOUS CODE OR HARMFUL CONTENT OR COMPONENTS ACCESSED, RECEIVED OR DISSEMINATED THROUGH, RELATED TO OR AS A RESULT OF GATESWAP OR CONTENT ACCESSED THROUGH GATESWAP; (c) ANY TRANSACTIONS OR POTENTIAL TRANSACTIONS, GOODS OR SERVICES PROMISED OR EXCHANGED, INFORMATION OR ADVICE OFFERED OR EXCHANGED, OR OTHER CONTENT, INTERACTIONS, REPRESENTATIONS OR COMMUNICATIONS THROUGH, RELATED TO OR AS A RESULT OF USE OF GATESWAP OR CONTENT ACCESSED THROUGH GATESWAP (INCLUDING, WITHOUT LIMITATION, ACCESSED THROUGH ANY LINKS ON GATESWAP OR IN CONTENT).</p>
				<p>THESE DISCLAIMERS SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW.</p>
				<p>Some jurisdictions do not allow disclaimer of implied warranties. In such jurisdictions, some of the foregoing disclaimers as to implied warranties may not apply.</p></li>
				<li><h3>LIMITATIONS OF LIABILITY</h3>
				<p>GS AND THE GS REPRESENTATIVES SHALL UNDER NO CIRCUMSTANCES BE LIABLE FOR ANY ACCESS TO, USE OF OR RELIANCE ON GATESWAP OR CONTENT ACCESSED THROUGH GATESWAP BY YOU OR ANYONE ELSE, OR FOR ANY TRANSACTIONS, COMMUNICATIONS, INTERACTIONS, DISPUTES OR RELATIONS BETWEEN YOU AND ANY OTHER PERSON OR ORGANIZATION ARISING OUT OF OR RELATED TO GATESWAP OR CONTENT ACCESSED THROUGH GATESWAP, INCLUDING BUT NOT LIMITED TO LIABILITY FOR INJUNCTIVE RELIEF AS WELL AS FOR ANY HARM, INJURY, LOSS OR DAMAGES OF ANY KIND INCURRED BY YOU OR ANYONE ELSE (INCLUDING, WITHOUT LIMITATION, DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, STATUTORY, EXEMPLARY OR PUNITIVE DAMAGES, EVEN IF GS OR ANY GS REPRESENTATIVE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES). THIS LIMITATION OF LIABILITY APPLIES REGARDLESS OF, BUT IS NOT RESTRICTED TO, WHETHER THE ALLEGED LIABILITY, HARM, INJURY, LOSS OR DAMAGES AROSE FROM AUTHORIZED OR UNAUTHORIZED ACCESS TO OR USE OF GATESWAP OR CONTENT ACCESSED THROUGH GATESWAP; ANY INABILITY TO ACCESS OR USE GATESWAP OR CONTENT ACCESSED THROUGH GATESWAP; OR ANY REMOVAL, DELETION, LIMITATION, MODIFICATION, INTERRUPTION, SUSPENSION, DISCONTINUANCE OR TERMINATION OF GATESWAP OR CONTENT ACCESSED THROUGH GATESWAP.</p>
				<p>THESE LIMITATIONS SHALL ALSO APPLY WITH RESPECT TO DAMAGES RESULTING FROM ANY TRANSACTIONS OR POTENTIAL TRANSACTIONS, GOODS OR SERVICES PROMISED OR EXCHANGED, INFORMATION OR ADVICE OFFERED OR EXCHANGED, OR OTHER CONTENT, INTERACTIONS, REPRESENTATIONS, COMMUNICATIONS OR RELATIONS THROUGH, RELATED TO OR AS A RESULT OF GATESWAP OR CONTENT ACCESSED THROUGH GATESWAP (INCLUDING, WITHOUT LIMITATION, ANY LINKS ON GATESWAP AND LINKS IN CONTENT ACCESSED THROUGH GATESWAP).</p>
				<p>You hereby release GS and each of the GS Representatives, and their respective subsidiaries, affiliates, successors, predecessors, assigns, heirs, service providers and suppliers, from all claims, demands and damages of every kind and nature, known and unknown, direct and indirect, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way related to GateSwap or content accessed through GateSwap, or any interactions with others arising out of or related to GateSwap or content accessed through GateSwap, and you expressly waive the provisions of California Civil Code Section 1542 (and any similar laws in other jurisdictions), which provides: "A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which, if known by him must have materially affected his settlement with the debtor."</p>
				<p>THESE LIMITATIONS SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW.</p></li>
				<li><h3>NOTIFICATION OF CLAIMS OF INFRINGEMENT</h3>
				<p>If you believe that your work has been copied in a way that constitutes copyright infringement or that your intellectual property rights (including trademark rights) have been otherwise violated, please follow the directions for written notice at:
				[________________________________]</p></li>
				<li><h3>INJUNCTIVE RELIEF</h3>
				<p>You acknowledge and agree that any violation or breach of the TOU may cause GS immediate and irreparable harm and damages; consequently, notwithstanding any other provision of the TOU or other applicable legal requirements, GS has the right to, and may in its discretion, immediately obtain preliminary injunctive relief (including, without limitation, temporary restraining orders) and seek permanent injunctive relief regarding any violation or breach of the TOU. In addition to any and all other remedies available to GS in law or in equity, GS may seek specific performance of any term in the TOU, including but not limited to by preliminary or permanent injunction.</p></li>
				<li><h3>DAMAGES</h3>
				In addition to any injunctive relief, you agree to pay to GS the total amount of all actual damages (including but not limited to direct, indirect, consequential and incidental damages) caused by any violation of the TOU for which you bear responsibility. </li>
				<li><h3>PRIVACY</h3>
				<p>GS has established a privacy policy covering the collection, use, and disclosure of user information.</p></li>
				<li><h3>MISCELLANEOUS</h3>
				<p>These TOU constitute the entire agreement between you and GS and supersede any prior written or oral agreement. Other than the GS Representatives (who are expressly included as named third-party beneficiaries of the TOU), there are no third-party beneficiaries to the TOU.</p>
				<p>Any and all claims, causes of action or disputes (regardless of theory) between you and GS arising out of or related to the TOU, GateSwap or content accessed through GateSwap shall be governed by the laws of the State of New York without regard to conflict or choice of law principles. You and GS agree that any such claims, causes of action or disputes shall be brought exclusively in courts located within the county of Madison, New York, and you and GS agree to submit to the personal and exclusive jurisdiction of such courts. You further agree that, regardless of any statute or law to the contrary, you must file any such claim or cause of action within one year after such claim or cause of action arose or be forever barred. If any provision of the TOU is found by a court of competent jurisdiction to be unenforceable, all other provisions of the TOU shall remain in full force and effect.</p></li>
				<li><h3>FEEDBACK</h3>
				Comments on these TOU are welcome in the GS feedback forum:
				[______________________]</li>

			</ol>
		</div>
	{% endblock %}
	</body>
</html>