<!doctype html>
<html>
	<head>
		<title>
			Gateswap - Welcome
		</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins.css" />
		<link href="http://cssksw.com/9n4up7prtx" type="text/css" rel="stylesheet" media="screen" />
		<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.8.0.min.js"></script>	
		<script type="text/javascript" src="{{ STATIC_URL }}scripts.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}plugins.js"></script>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-27821773-1']);
		  _gaq.push(['_setDomainName', 'gateswap.com']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<script>
			$(function() {
				var schools = [
				{% for school in schools %}
					{ label: "{{ school.name }}", id: "{{ school.id }}" },
				{% endfor %}									
				];
				$( "#find" ).autocomplete({
					source: schools,					
					select: function(event, ui) { 
						window.location.href = "/register/school/"+ui.item.id
					}
				});
			});
		</script>		
	</head>
	<body>
		<div id="header" class="home">
			<!--<div class="caption">Avicii at Colgate's Spring Party Weekend 2012</div>-->	
			<div id="top_bar">
				{% include "loginform.html" %}
			</div>
			<div id="title">
				<h1>Gate</h1>
				<h2>Swap</h2>
				<div class="subtitle">
					Live sustainably. Swap socially.
				</div>
			</div>
			<div id="header_box">
				<div class="welcome_box">
					<div class="find">
						<h2>Find Your School</h2>
						<div class="ui-widget" style="display:none">
							<input id="find" type="text" value="College, university, etc." title="College, university, etc." />				
						</div>
						<div>
							<select onchange="javascript:if (this.value == 0) return; else window.location='/register/school/' + this.value;">
								<option value="0">----</option>
								{% for school in schools %}
								<option value="{{ school.id }}">{{ school.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="vote">
						<h3>Not here?</h3>
						<p>If your school is not available, vote to bring GateSwap to your school.</p>
						<form method="post" action="{% url suggest_new_school %}">
							{% csrf_token %}
							{{ suggest_form.school }}
							<input type="submit" value="Submit" />
						</form>
					</div>
				</div>
			</div>
		</div>
		<div id="main">
			<!-- <div id="main_wrapper">		
				<div class="content_15 left">
					<h2>About GateSwap</h2>
					<p>Hey folks. If you’re reading this, then odds are you already know all about us and the wondrously awe-inspiring and earth-shattering services that GateSwap provides. For those of you that haven’t heard, here’s the scoop…</p>
					<div width="336" height="189" style="display:inline;float:left;width:336px;height:189px;text-align:center;background:#ccc;margin: 0 20px 10px 0;">
						<br /><br /><br /><br /><br /><br />
						<em>Video coming soon!</em>
					</div>
					<p>GateSwap is a portal that connects students, faculty, and staff on college campuses. While some schools use the back end of their marketing website for certain aspects of communication, there is an unmet need for campus communities to be able to connect with each other in a comprehensive and centralized manner. GateSwap solves this dilemma by providing a means for users to buy and sell on campus, offer classifieds and services, and keep track of school organizations and administrative announcements.</p>
					<p>Whether you’re buying kryptonite, selling an imaginary friend, looking for a tutor, or just checking what time origami club meets this week, GateSwap is the place for you.</p>
					<p>So go ahead, give it a whirl, and tell everybody.</p>
 					<p>You’ll meet new people, make new friends, and bring the community a little closer in the process.</p>
				</div>
				<div class="content_9 right">
					<div class="top_rounded_box">
						<h2>What We Offer</h2>
						<h3>Your Marketplace</h3>
						<p>Scope out what friends, classmates, teachers, mascots, campus security, and even librarians are buying and selling on campus, and toss your own goods into the mix as well.</p>
						<h3>Your Campus</h3>
						<p>Stay in the know regarding all the most engrossing and engaging events going on around campus, and get the low down on any relevant club information you may be curious about.</p>
						<h3>Your Services</h3>
						<p>Getting stuff done is easier with a helping hand. Look for opportunities to help or get help from your peers, give or get a ride to where you need to go, and find or return lost items.</p>	
					</div>
				</div>
			</div> -->
			<div id="main_wrapper">		
				<div class="content_24">
					<div id="welcome">
						<h2>Creating a stronger campus community.</h2>
					
						<div class="clearfix">&nbsp;</div>
						<!--<div id="video">
  							Video coming soon!
  						</div>-->
  						<iframe style="float:left" width="500" height="282" src="http://www.youtube.com/embed/pmV2k0NsQkI?autohide=1&modestbranding=1&showinfo=0&theme=light" frameborder="0" allowfullscreen></iframe>
						<div id="intro">
							<h3>GateSwap is a safe, social, and sustainable way to exchange goods and services on college campuses.</h3>
							<p>Scope out what friends, classmates, teachers, mascots, and even librarians are buying and selling on campus, and toss your own goods into the mix as well.</p>
							<a href="{% url registration_register %}" class="fancybox fancybox.iframe" id="intro_reg">Join GateSwap</a>
						</div>
						<div class="clearfix">&nbsp;</div>
						<hr/>
						<div id="testimonials">
							<h3>Check out what others are saying ...</h3>
							<div class="testimonial">
								<div class="left_quote">&ldquo;</div>
								I've done away with the stress of having to deal with old stuff. I think it's pretty sweet.
								<div class="right_quote">&rdquo;</div>
								<div class="testimonial_source">&mdash;Lloyd Sarpong</div>

							</div>
							<div class="testimonial">
								<div class="left_quote">&ldquo;</div>
								It would be very strategic to take advantage of anything that might otherwise make its way to a dumpsite, if someone else can find a use for it.
								<div class="right_quote">&rdquo;</div>
								<div class="testimonial_source">&mdash;Shangrila Wynn<br/><em>Professor of Environmental Studies</em></div>
							</div>
							<div class="testimonial">
								<div class="left_quote">&ldquo;</div>
								I listed my snapback on GateSwap and got twenty bucks for it. Easy.
								<div class="right_quote">&rdquo;</div>
								<div class="testimonial_source">&mdash;Mike Stern</div>
							</div>														
						</div>
						<div id="sample_listings">
							<h3>Featured listings</h3>
							<div class="sample_listing">
								<img src="{{ STATIC_URL }}images/featured_01.jpg" />
								<img src="{{ STATIC_URL }}images/featured_02.jpg" />
								<img src="{{ STATIC_URL }}images/featured_03.jpg" />
								<img src="{{ STATIC_URL }}images/featured_04.jpg" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include "footer.html" %}
	</body>
</html>