{% load comments i18n %}
  
{% for field in form %}
{% if field.is_hidden %}
  <div>{{ field }}</div>
{% elif field.name == "name" %}
  <input id="id_name" type="hidden" name="name" value="{{ user.username }}" />
{% elif field.name == "email" %}
  <input id="id_email" type="hidden" name="email" value="{{ user.email }}" />
{% elif field.name == "url" %}
  <input id="id_url" type="hidden" name="url" value="" />
{% else %}
  {% if field.errors %}{{ field.errors }}{% endif %}
  <p
	{% if field.errors %} class="error"{% endif %}
	{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
	{% ifequal field.name "comment" %}
		<textarea id="id_comment" class="add_comment" title="Start typing here..." name="comment">Start typing here...</textarea>
	{% else %}
		{{ field }}
	{% endifequal %}
  </p>
{% endif %}
{% endfor %}
